@font-face {
  font-family: 'organie';
  src:  url('../fonts/organie.eot?ahq2s2');
  src:  url('../fonts/organie.eot?ahq2s2#iefix') format('embedded-opentype'),
    url('../fonts/organie.ttf?ahq2s2') format('truetype'),
    url('../fonts/organie.woff?ahq2s2') format('woff'),
    url('../fonts/organie.svg?ahq2s2#organie') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="organie-"], [class*=" organie-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'organie' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.organie-apple:before {
  content: "\e900";
}
.organie-banana:before {
  content: "\e901";
}
.organie-basket:before {
  content: "\e902";
}
.organie-blender:before {
  content: "\e903";
}
.organie-bread:before {
  content: "\e904";
}
.organie-broccoli:before {
  content: "\e905";
}
.organie-carrot:before {
  content: "\e906";
}
.organie-coconut:before {
  content: "\e907";
}
.organie-corn:before {
  content: "\e908";
}
.organie-cucumber:before {
  content: "\e909";
}
.organie-egg:before {
  content: "\e90a";
}
.organie-eggplant:before {
  content: "\e90b";
}
.organie-ekobag:before {
  content: "\e90c";
}
.organie-grain:before {
  content: "\e90d";
}
.organie-grape:before {
  content: "\e90e";
}
.organie-honey:before {
  content: "\e90f";
}
.organie-jam:before {
  content: "\e910";
}
.organie-leaf:before {
  content: "\e911";
}
.organie-lemon:before {
  content: "\e912";
}
.organie-lettuce:before {
  content: "\e913";
}
.organie-milk:before {
  content: "\e914";
}
.organie-mushrooms:before {
  content: "\e915";
}
.organie-onion:before {
  content: "\e916";
}
.organie-pear:before {
  content: "\e917";
}
.organie-pepper:before {
  content: "\e918";
}
.organie-radish:before {
  content: "\e919";
}
.organie-smoothie:before {
  content: "\e91a";
}
.organie-squeezer:before {
  content: "\e91b";
}
.organie-tomato:before {
  content: "\e91c";
}
.organie-watermelon:before {
  content: "\e91d";
}
.organie-hours-support:before {
  content: "\e91e";
}
.organie-arrow-01:before {
  content: "\e91f";
}
.organie-barn:before {
  content: "\e920";
}
.organie-credit-card:before {
  content: "\e921";
}
.organie-decor:before {
  content: "\e922";
}
.organie-delivery:before {
  content: "\e923";
}
.organie-drop:before {
  content: "\e924";
}
.organie-flower:before {
  content: "\e925";
}
.organie-leaves_2:before {
  content: "\e926";
}
.organie-leaves:before {
  content: "\e927";
}
.organie-map-location:before {
  content: "\e928";
}
.organie-path-footer:before {
  content: "\e929";
}
.organie-tractor:before {
  content: "\e92a";
}
.organie-watercolor:before {
  content: "\e92b";
}
