//
// Variables
// --------------------------------------------------

// HAINTHEME VARIABLES

// == Colors
@ht-dark: #171f26;
@ht-primary: #0287c0;
@ht-secondary: #d39000;
@ht-third: #142944;
@white: #ffffff;
@green: #8eb35a;
@heading: #333333;
@subhead: #ababab;
@content: #8e8e8e;
@gray: #9a9a9a;
@icon: #696969;
@bordercolor: #f4f4f4;
@pink : #f49ac1;
//== ==
//==font size
@menu-size: 14px;
@title-size: 40px;
@subtitle-size: 16px;
@fontsize1: 24px;
@fontsize2: 15px;
@fontsize3: 18px;
@fontsize4: 34px;
// == Responsive Breakpoint
@sans-serif: Arial, sans-serif;
@serif: "Times New Roman", Times, serif;
//==Fonts==
@secondFont: "Lato", serif;
@mainFont: "Playfair Display", serif;
//== ==
// == Breakpoints - Updates for small tablets and smart phones in landscape
@xxs-max:  ~"only screen and (max-width: 479px)";
@xs:   ~"only screen and (min-width: 30em)";
@xs-max:   ~"only screen and (max-width: 767px)";
// Updates for tablets in portrait
@sm:    ~"only screen and (min-width: 768px)";
@sm-max:   ~"(max-width: 992px)";
// Updates for tablets in landscape
@md:   ~"only screen and (min-width: 992px)";
@md-max:   ~"(max-width: 1199px)";
// Updates for desktop
@lg:   ~"only screen and (min-width: 1200px)";
// Updates for ultra desktop
@xlg:   ~"only screen and (min-width: 100em)";
// High resolution screens e.g. Retina
@retina: ~"(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";