 // COMMON
// 
.row {
	.clearfix;
}

/* Text align
--------------------------*/
.text {
	&-center{
		text-align: center;
	}
	&-left{
		text-align: left;
	}
	&-right{
		text-align: right;
	}
	&-justif {
		text-align: justify;
	}
	&-nowrap {
		white-space: nowrap;
	}
	&-right-sm {
		@media @sm {
			text-align: right;
		}
	}
	&-right-md {
		@media @md {
			text-align: right;
		}
	}
}

.screen-reader-text,
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
select {
	border-radius : 0 !important;
	-webkit-border-radius : 0 !important;
}
.button(){
	padding: 12px 20px 12px 20px;
	text-transform: uppercase;
	background-color: @green;
	border: 1px solid @green;
	border-radius: 25px;
	.second(@secondFont, @menu-size, @white, 700, Bold);
}
.button2(){
	padding: 12px 20px 12px 20px;
	text-transform: uppercase;
	border: 1px solid @green;
	border-radius: 25px;
	background-color: @white;
	.second(@secondFont, @menu-size, @green, 700, Bold);
}
.share(){
	text-decoration: underline;
	.main(@mainFont,@menu-size, @subhead, 700, Italic);
	i{
		padding: 10px 11px 10px 11px;
		border: 1px solid grey;
		border-radius: 50%;
		margin-right: 15px;
	}
}
a.readmore3{
	font-family: "Playfair Display",serif;
	font-size: @menu-size;
	font-weight: 900;
	color: @icon;
	font-style: Italic;
}
a.readmore3:hover{
	color: @green;
}
a.readmore3.pink:hover{
	color: @pink;
}
.date{
	margin-bottom: 25px;
	span{
		font-family: "Playfair Display",serif;
		font-size: @menu-size;
		// font-weight: 700;
		color: @subhead;
		font-style: Italic;
		a{
			color: @green;
			text-decoration: underline;
		}
		a.admin{
			color: @icon;
		}
	}
}
h2{
	.main(@mainFont, @fontsize3, @heading, 700, Bold);
}
p{
	.second(@secondFont, @fontsize2, @content, '', Regular);
	line-height: 1.8;
}
span.share{
	.share();
	float: right;
	margin-right: 45px;
}
span.share:hover a{
	color: @green;
}
span.sub{
	font-family: "Playfair Display",serif;
	font-size: @menu-size;
	font-weight: 700;
	color: @icon;
	font-style: Italic;
}
.star-rate{
	margin-bottom: 55px;
	i{
		font-size: 18px;
	}
	i.fa-star{
		color: #f4cb3d;
	}
	i.fa-star-o{
		color: @icon;
	}
}
span.hot, span.sale-pr, span.new{
.second(@secondFont, 12px, @white, 700, Bold);
	text-transform: uppercase;
	padding: 0px 10px 0px 10px;
	border-radius: 25px;					
}
span.hot{
	background-color: #f9734d;
}
span.new{
	background-color: #b4e1f7;
}
span.sale-pr{
	background-color: #f4cb75;
}
.tooltip-inner{
	background: @green;
	padding: 5px 10px;
	border-radius: 5px;
}
.tooltip.top > .tooltip-arrow {
  border-top: 5px solid @green;
}
.tooltip.right> .tooltip-arrow {
  border-right: 5px solid @green;
}
.tooltip.left> .tooltip-arrow {
  border-left: 5px solid @green;
}
.iconhover + .tooltip{
		top: 445px !important;
}
.search + .tooltip{
	top: -40px !important;
	left: -15px !important;
}
.cart + .tooltip{
	top: -40px !important;
	left: 42px !important;
}
.wishlist + .tooltip{
	top: -55px !important;
	left: 105px !important;
}
.pink{
	color: @pink;
}
.ct-icon.pink-ico a i + .tooltip, .right-menu button.white i + .tooltip{
	.tooltip-inner{
		background: @pink;
	}
}
.ct-icon.pink-ico a i + .tooltip.top > .tooltip-arrow, .right-menu button.white i + .tooltip.top > .tooltip-arrow{
	 border-top: 5px solid @pink;
}
.flower-hd2, .flower-hd3, .flowerab-hd{
	.right-menu, .right-menu.gray{
		button i + .tooltip{
			.tooltip-inner{
				background: @pink;
			}
		}
		button i + .tooltip.top > .tooltip-arrow{
			 border-top: 5px solid @pink;
		}
		button i:hover{
			color: @pink;
		}
	}
}