// FOOTER
footer.ht-footer{
	padding-top: 115px;
	padding-bottom: 20px;
	.ft-heading h6{
		.main(@mainFont, @fontsize3, @heading, 700, Bold);
		margin-bottom: 40px;
	}
	ul{
		list-style: none;
		margin-left: 0;
		li{
			margin-bottom: 15px;
			a{
				.second(@secondFont, @menu-size, @icon, '', Regular);
			}
		}
		li:hover a{
			color: @green;
			text-decoration: none;
		}
	}
	.ft-contact{
		ul.ct-it{
			li{	
				i{
					font-size: @fontsize3;
					color: @subhead;
					margin-right: 25px;
				}
			}
		}
		.ct-icon{
			margin-bottom:30px;
		}
		.ct-icon a{
			margin-right: 10px;
			i.fa-facebook{
				padding: 10px 13px 10px 13px;
			}
			i{
				font-size: @subtitle-size;
				color: @icon;
				padding: 10px;
				border: 1px solid @bordercolor;
				border-radius: 50%;
			}
		}
		.ct-icon a:hover{
			i{
				color: @white;
				background-color: @green;	
				.transition(all, 0.5s);
			}
		}
		.ct-icon.pink-ico a:hover{
			i{
				background-color: @pink;
			}
		}
	}
	img.ft-line{
		width: 100%;
		margin-top: 85px;
		margin-bottom: 30px;
	}
	.photo-it{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.img-ft{
				position: relative;
			img{
				margin-bottom: 12px;
				margin-right: 12px;
				width: 73px;
				height: 73px;
				position: relative;
			}
		}
		.hover-inner-ft{
			position: absolute;
			width: 87%;
			height: 87%;
			top: 0;
			left: 0;
			content: '';
			background-color: @icon;
			opacity: 0;
			text-align: center;
			transition: all 0.5s;
			.icon{
				display: flex;
				flex-direction: column;
				margin-top: 10px;
			}
			 a, i{
				font-size: @menu-size;
				color: @white;
				text-decoration: none;
			}
			// background-color: @icon;
		}
		.img-ft:hover{
			.hover-inner-ft{
				opacity: 0.9;
				transition: all 0.5s;
			}
		}
	}
	.ft-below-left{
		p{
			.main(@mainFont, @menu-size, @subhead, '', Italic);
			a{
				color: @green;
			}
			a.pink{
				color: @pink;
			}
		}
	}
	.ft-below-right{
		float: right; right: 0;
		margin-top: -25px;
		p{	
			a{
				text-transform: uppercase;
				.second(@secondFont, 12px, @icon, 700, Bold);
			}
			a:hover{
				text-decoration: none;
				color: @green;
			}
			a.pink:hover{
				color: @pink;
			}

		}
	}
}
.ht-footer4{
	background-color: #454545;
	.ft-heading h6{
		color: @white !important;
	}
	ul li:hover a{
		color: @green !important;
	}
	ul li a, .ft-below-left p {
		color: @subhead !important;
	}
	.ct-icon a i{
		border:1px solid @subhead !important;
	}
}
.ft-flowerv3{
	ul.pink{
		li:hover a{
			color: @pink;
			text-decoration: none;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	// footer.ht-footer .photo-it .hover-inner-ft{
	// 	height: 58%;
	// 	.icon{
	// 		margin-top: 0px;
	// 	}
	// }
}
@media (min-width: 768px) and (max-width: 991px){
	// footer.ht-footer .photo-it .hover-inner-ft{
	// 	height: 63%;
	// 	.icon{
	// 		margin-top: 5px;
	// 	}
	// }
}
@media (max-width: 767px){
	// footer.ht-footer .photo-it .hover-inner-ft{
	// 	height: 74%;
	// 	.icon{
	// 		margin-top: 20px;
	// 	}
	// }
	footer.ht-footer .ft-below-right{
		float: left;
		left: 0;
		margin-top: 0;
	}
	.flowerft{
		.ft-contact{
			margin-top:30px !important;
			float: left !important;
			left: 0;
		}
	}
}
footer.ht-footer.flowerft{
	padding-top: 0;
	padding-bottom: 0;
	.ft-below-left{
		p{
			color: @icon;
			a{
				color: @pink;
			}
		}
	}
	.ft-contact{
		float: right;
		right: 0;
		margin-top: -60px;
	}
	.ft-contact .ct-icon a:hover i{
		background-color: @pink;
	}
}