// HEADER
// 
section#topbar{
	padding: 0;
	background-color: #444444;
	.top-left{
		padding-top: 1px;
		// padding-bottom: 10px;
		p{
			color: #828282;
			margin-left: 40px;
			span{
				color: @white;
			}
		}
	}
	ul.topbar-right{
		float: right;
		margin-right: 100px;
		li a{
			color: #828282;
		}
		li a.login{
			padding-top: 0px;
			padding-bottom: 0px;
			margin-top: 15px;
			border-left: 1px solid #828282;
			border-right: 1px solid #828282;
		}
		li{
			a:hover{
				color: @green;
				background: none !important;
			}
		}
		li.dropdown button{
			background: none !important;
			border: none;
			color: #828282;
			margin-top: 10px;
			ul.dropdown-menu.level1{
				li a{
					color: #828282 !important;
				}
			}
		}
	}
}
.fixed-nav1, .fixed-nav3, .fixed-nav4{
	position: fixed;
    top: 0;
    left: 0;
    display: block;
}
.fixed-nav3{
	.main-logo{
		display: none;
		.transition(all, 0.5s);
	}
}
.fixed-nav4{
	margin-top: -15px;
	.topsearch.show{
		margin-top: 15px;
		height: 39px;
	}
	.main-logo4{
		display: none;
		.transition(all, 0.5s);
	}
	nav#mainNav3{
		border-top: none !important;
		// margin-top: -15px;

	}
}
header{
	.box_shadow(0px, 10px, 20px, 0px , rgba(0, 0, 0, 0.05));
    z-index: 999;
    width: 100%;
   display: block;
	.navbar-default{
		border: none;
		margin-bottom: 0;
	}
	nav ul.hd-menu{
		margin-top: 10px;
	}
	nav{
		border-bottom: none !important;
		background-color: @white !important;
	}
	nav ul.hd-menu{
		margin-left: 15%;
		//for level 1
		li.dropdown a{
			color: @icon;
			font-size: @menu-size;
			text-transform: uppercase;
			font-family:@secondFont;
			font-weight: 700;
			margin-right: 50px;
			padding: 40px 0 40px 0;
			border: none;
			background: none;
			i{
				margin-left: 5px;
			}
		}
		li.dropdown a.white{
			color: @white;
		}
		li.dropdown a.lv1:hover, li.dropdown.open a.lv1{
			color: @green !important;
			background: none !important;
		}
		li.dropdown a.lv1.white:hover, li.dropdown.open a.lv1.white{
			color: @pink !important;
			background: none !important;
		}
		li.dropdown a.lv1.grey:hover, li.dropdown.open a.lv1.grey{
			color: @pink !important;
			background: none !important;
		}
		ul.dropdown-menu.level1.pink{
		    border-top: 2px solid @pink !important;
		    //for level 3
		    li.dropdown{
		    	ul.dropdown-menu.level2{
		    		border-top: 2px solid @pink !important;
		    	}
		    }
		    li a:hover{
				background: none !important;
				color: @pink !important;
				border-bottom: 1px solid @pink !important;
		    }
		}
		//for dropdown menu level2
		ul.dropdown-menu.level1{
			border-top: 2px solid @green !important;
			border: none;
			margin-left: -30px;
			min-width: 220px;
		}
		ul.dropdown-menu.level1 li a{
			.second(@secondFont, @menu-size, @icon, 500, Regular);
			text-transform: capitalize;
			margin: 10px 20px 10px 20px;
			padding-left: 0;
			padding-top: 8px !important;
			padding-bottom: 20px;
			border-bottom: 1px solid #f4f4f4 !important;
			i{
				font-size: 12px !important;
				margin-right: 10px;
				margin-left: -10px;
				.opacity(0);
				.transition(all, 0.5s);
			}
		}
		ul.dropdown-menu.level1 li.it-last a{
			border-bottom: 1px solid transparent !important;
		}
		ul.dropdown-menu.level1 li a:hover{
			background: none !important;
			color: @green !important;
			border-bottom: 1px solid @green !important;
			i{
				margin-left: 10px;
				margin-right: 10px;
				opacity: 1;
				.transition(all, 0.5s);
			}
		}
		//for level 3
		ul.dropdown-menu.level1 li.dropdown{
			i.fa-caret-right{
				float: right;
				right: 0;
				margin-top: 5px;
			}
			ul.dropdown-menu.level2{
				border-top: 2px solid @green !important;
				top: -17px;
				border: none;
				min-width: 220px !important;
			}
		}
	}
	.right-menu{
		float: left;
		left: 0;
		margin-top:  45px;
		i{
			margin-left: 25px;
			font-size: 24px;
			color: @heading;
			font-weight: 500;
		}
		i:hover{
			color: @green;
		}
		button{
			background: none;
			border: none;
			i{
				margin-left: 0;
			}
		}
		button.white{
			i{
				color: @white;
			}
		}
		button.white i:hover{
			color: @pink;
		}
	}
}
.flower-hd3{
	.right-menu.gray{
		button i{
			color: @icon;
		}
	}
	.hd-logo{
		img.logo-1{
			padding-top: 22px;
			display: block;
		}
		img.logo-2{
			display: none;
		}
	}
}
.fixed-nav1{
	.hd-logo{
		img.logo-1{
			display: none;
		}
		img.logo-2{
			padding-top: 22px;
			display: block;
		}
	}
}
//flower home for search
.flower-hd, .flower-hd2{
	.topsearch input{
		background: @pink;
	}
}
.flower-hd2{
	box-shadow: none !important;
	position: absolute;
	ul.nav{
		opacity: 0;
	}
	.navbar-default{
		background-color: transparent !important;
	}
}
//for home flower
.flower-hd4{
	.right-menu{
		button i{
			color: @white;
		}
	}
}
.flower-hd.fixed-nav4{
	.nav4{
		background-color: @heading !important;
	}
}
.flower-hd2.fixed-nav1, .flower-hd4.fixed-nav1{
	ul.nav{
		opacity: 1;
	}
	.box_shadow(0px, 10px, 20px, 0px , rgba(0, 0, 0, 0.05)) !important;
	position: fixed;
	.navbar-default{
		background-color: @white !important;
	}
}
.flower-hd4.fixed-nav1{
	button i{
		color: @icon;
	}
}
//end home flower
.ht-header{
	.hd-logo{
		img.logo{
			// margin-left: 100px;
			margin-top: 25px;
		}
	}
}
.ht-headerv3{
	.header-logov3{
		padding-top: 50px;
		padding-bottom: 35px;
		z-index: 1;
	}
	nav#mainNav3{
		border-top: 1px solid #f4f4f4;
		ul.hd-menu3{
			float: none !important;
			margin-left: 20%;
			margin-right: 0%;
			.right-menu{
				float: none !important;
				margin-right: 0;
			}
		}
	}
	.right-menu {
	    float: right;
	    margin-right: 100px;
	    margin-top: -65px;
	    button{
	    	margin-right: 30px;
	    }
	}
}
.ht-headerv4{
	button.open5{
		display: none;
	}
	.hd-if{
		display: flex;
		margin-top: 50px;
		i{
			font-size: 40px;
			color: @icon;
			margin-left: 20px;
			margin-right: 20px;
		}
		button.open4{
			border: none;
			background: none;
		}
		.hd-infor{
			margin-top: 10px;
			p{
				text-transform: uppercase;
				font-size: 12px;
				color: @icon;
				margin-bottom: 0;
				margin-left: 0;
			}
			span{
				font-family: "Playfair Display",serif;
				font-size: @subtitle-size;
				font-weight: 700;
				color: @icon;
				font-style: Italic;
			}
			span.phone{
				color: @green;
			}
			span.pink{
				color: @pink;
			}
		}
	}
	.hd-if.right{
		float: left;
		left: 0;
	}
	nav#mainNav3{
		margin-left: 15%;
		margin-right: 15%;
		ul.hd-menu3{
			margin-left: 25%;
		}
		.right-menu{
			margin-right: 230px;
		}
	}
	img.logo{
		margin-left: 60px;
	}
	.nav4{
		background: @white;
	}
	//for header lower
	nav.flower-nav{
		background: @heading !important;
	}
}
//style for popup
#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #000;
	display: none;
}
#boxes .window {
	position: fixed;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 470px;
	height: 575px;
	display: none;
	z-index: 9999;
	text-align: center;
}
#boxes #dialog {
	img{
		width: 100%;
		height: auto;
	}
}
@media screen and (max-width: 767px){
	#boxes .window {
		position: fixed;
		overflow: hidden;
		left: 0;
		top: 0;
		width: 270px;
		height: 375px;
		display: none;
		z-index: 9999;
		text-align: center;
	}
}
// style  for search  box
.topsearch{
	height: 0;
	.opacity(0);
	transition: height 0.5s;
	input{
		background: @green;	
		border: none;		
		text-align: center;
		height: 0;
		transition: height 0.5s;
		color: @white;
	}
	input[type="text"]::-webkit-input-placeholder {
		line-height: 40px;
		.second(@secondFont, 16px, @white, '', Bold);
	}
}
.show{
	.opacity(1);
	transition: height 0.5s;
	visibility: visible;
	height: 50px;
	input{
		height: 50px;
		transition: height 0.5s;
	}
}
#page{
	.transition(all, 0.5s);
}
.main{
	position: relative;
	overflow: hidden;
	display: block;
}
.main:before{
	content: '';
	height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    left: 0;
    background: #000;
    .opacity(0.5);
    z-index: 9999999;
}
.sidenav{
	display: none;
    position: fixed;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 400px;
    height: 100%;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
	transition: 0.5s;
	padding-top: 150px;
	.closebtn, .closebtn2, .closebtn3, .closebtn4, .closebtn5{
		text-align: center;
		i{
			font-size: 24px;
			color: @icon;
		}
		i:hover{
			color: @green;
		}
	}
	.closebtn{
		margin-top: -700px;
	}
	.closebtn2, .closebtn3, .closebtn4, .closebtn5{
		margin-top: -225px;
	}
	 a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 25px;
	    color: #818181;
	    display: block;
	    transition: 0.3s
	}
	a:hover, .offcanvas a:focus{
	    color: #f1f1f1;
	}
	p{
		font-family: "Playfair Display",serif;
		color: @icon;
		font-style: Italic;
		text-align: center;
		background: url('../images/uploads/sidebar-bg.png') no-repeat;
		background-position: center;
		background-size: 40%;
		margin-left: 40px;
		margin-right: 40px;
		span{
			font-weight: 700;
		}
		margin-bottom: 80px;
	}
	p.cart-product{
		padding-bottom: 10px;
		border-bottom: 1px solid @bordercolor;
	}
	h2{
		padding-left: 30px;
		border-left: 3px solid @green;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.menu{
		display: flex;
		margin-left: 40px;
		margin-right: 40px;
		.menu-right, .menu-left{
			a{
				.second(@secondFont, @menu-size, @subhead, 600, Bold);
				text-transform: uppercase;
			}
			a:hover{
				color: @green;
			}
		}
		.menu-left{
			margin-right: 100px;
		}
	}
	.ct-icon{
		display: flex;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 30px;
		 a{
			// margin-right: 10px;
			i.fa-facebook{
				padding: 10px 13px 10px 13px;
			}
			i{
				font-size: @subtitle-size;
				color: @icon;
				padding: 10px;
				border: 1px solid @bordercolor;
				border-radius: 50%;
			}
		}
	}
	.ct-icon a:hover{
		i{
			color: @white;
			background-color: @green;	
			.transition(all, 0.5s);
		}
	}
	.fb + .tooltip{
		left: 50px !important;
	}
	.fb +.tooltip.top > .tooltip-arrow{
		left: 40px !important;
	}
	.tw+ .tooltip{
		left: 135px !important;
	}
	.tw +.tooltip.top > .tooltip-arrow{
		left: 30px !important;
	}
	.yt +.tooltip{
		left: 210px !important;
	}
	.yt +.tooltip.top > .tooltip-arrow{
		left: 35px !important;
	}
	.vm + .tooltip{
		left: 295px !important;
	}
	.vm +.tooltip.top > .tooltip-arrow{
		left: 29px !important;
	}
	.btn-sidebar-r{
		margin-left: 50px;
		margin-right: 40px;
		display: flex;
		a.login{
			.button2();
			margin-right: 10px;
			margin-left:30px;
			padding: 5px 30px;
		}
		a.login:hover{
			.button();
			padding: 5px 30px;
		}
	}
	.search{
		margin-left: 40px;
		margin-right: 40px;
		position: relative;
		::-webkit-input-placeholder{
			font-family: "Playfair Display",serif;
			color: #e4e4e4;
			font-weight: 700;
			font-size: @fontsize1;
			padding: 10px 10px;
		}
		input{
			border-bottom: 1px solid #e4e4e4 !important;
			border: none;
		}
		i{
			font-size: 25px;
			position: absolute;
			float: right;
			right: 20px;
			top: 0px;
		}
	}
}
nav#menu{
	width: 250px;
	height: 100%;	
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}
.mobile-btn{
	opacity: 0;
	margin-top: 35px;
	margin-left: 30px;
	button{
		border: none;
		background: none;
		font-size: 24px;
		color: #333333;	
	}
	button:hover{
		color: @green;
	}
}
button#btn{
	display: block;
}
button#close-btn{
	display: none;
}
.mobile-menu{
	#menu{
		background-color: #ffffff;
		ul{
			margin: 0;
			padding: 0;
		}
		li, .sub-menu{
			border: 1px solid #f4f4f4;
		}
		.sub-menu{
			background: #f4f4f4;
			width: 100%;
			display: none;
			li{
				margin-right: -3px;
			}
		}
		li, a{
			position: relative;
			display: block;
			text-decoration: none;
			outline: 0;
			color: #696969;
			font-size: 15px;
			font-family: "Lato";
			text-transform: capitalize;
			font-weight: 400;
			font-style: normal;
			line-height: 1.8;
			letter-spacing: 0em;
		}
		a{
			padding: 0.5em 1.5em;
			.transition(all, 0.5s);
		}
		a:hover{
			background: #f4f4f4;
			color: @green;
		}
	}
	#menu .sub-menu li:last-child {
		border-width: 0;
	}
	#menu a i.fa.fa-caret-right{
		display: none;
	}
	#menu li i.ion-ios-arrow-down{
		top: 0;
		float: right;
		right: 0;
		padding: 0.5em 1.2em;
		position: absolute;
		.transition(all, 0.5s);
		background-color: #f4f4f4 ;
		display: inline-block;
		border: none;
	}
	#menu li i.ion-ios-arrow-down:hover{
		background-color: @green;
		color: @white;
	}
}
//responsive for header
@media screen and(min-width: 1200px) and (max-width: 1670px){
	header nav ul.hd-menu{
		margin-left: 0;
		float: right;
		right: 0;
		li.dropdown a{
			margin-right: 40px;
		}
	}
	.ht-headerv4{
		nav#mainNav3 .right-menu{
			margin-right: 50px;
		}
		nav#mainNav3 ul.hd-menu3{
			margin-left: 10%;
		}
	}
	
}
@media screen and (min-width: 992px) and (max-width: 1199px){
	header{
		padding-bottom: 30px;
		background: @white;
	}
	.ht-header{
		.mobile-btn{
			opacity: 1;
		}
		nav ul.hd-menu{
			display: none;
		}
		.hd-logo img.logo{
			margin-left: 300px;
			width: 100%;
		}
		.right-menu button.menu-btn{
			opacity: 0;
		}
	}
	.ht-headerv3{
		nav#mainNav3 ul.hd-menu3{
			margin-left: 10%;
		}
		.right-menu {
		    float: right;
		    margin-right: 50px;

		}
	}
	.ht-headerv4{
		nav#mainNav3 {
		    margin-left: 10%;
		    margin-right: 10%;
		}
		nav#mainNav3 ul.hd-menu3{
			margin-left: 5%;
		}
		.right-menu{
			margin-right: 0px !important;
		}
		img.logo{
			margin-left: 50px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.main-logo{
		display: flex;
	}
	.mobile-btn{
		opacity: 1;
	}
	.ht-header{
		padding-bottom: 35px;
		background: @white;
		.right-menu{
			// margin-top: -50px;
			// margin-right: 20px !important;
		}
		nav ul.hd-menu{
			display: none;
		}
		.hd-logo img.logo{
			margin-left: 200px;
		}
		.right-menu button.menu-btn{
			opacity: 0;
		}
	}
	.ht-headerv3{
		ul.hd-menu3{
			display: none;
		}
		.right-menu{
			margin-top: -90px;
			margin-right: 0;
		}
		img.logo{
			margin-left: 200px;
			margin-top: -20px;
		}
	}
	.ht-headerv4{
		.mobile-btn{
			margin-left: 100px;
		}
		nav#mainNav3 .right-menu{
			margin-right: 0;
		}
		.hd-if{
			display: none;
		}
		button.search-top-bt{
			display: none;
		}
		button.open5{
			display: block;
			margin-top: -20px;
		}
		img.logo{
			margin-top: -80px;
			margin-left: 300px;
		}
	}
	//for home flower 1
	.flower-hd{
		img.logo{
			margin-top: -140px;
		}
		button.open5{
			margin-top: -20px;
		}
		.header-logov3{
			padding-bottom: 0;
		}
	}

}
@media (max-width: 767px) {
	header{
		overflow: hidden;
	}
	#decorate{
		margin-top: 0;
	}
	.ht-header{
		padding-bottom: 30px;
		background: @white;
		.mobile-btn{
			opacity: 1;
			margin-top: 25px;
			margin-left: 10px;
		}
		.right-menu button.menu-btn{
			opacity: 0;
		}
	}
	.main-logo{
		display: flex;
		img.logo{
			width: 60%;
			margin-left: 10px;
		}
	}
	header .right-menu{
		margin-top: -40px;
		float: right;
		margin-right: 0;
		button{
			margin-left: 0;
			margin-right: 10px;
		}
		button.search-top-bt, button.menu-btn{
			display: none;
		}
	}
	.ht-headerv3{
		overflow: hidden;
		.mobile-btn{
			opacity: 1;
			margin-left: 0px;
		}
		ul.hd-menu3{
			display: none;
		}
		.right-menu{
			margin-top: -73px;
			margin-right: 0;
		}
		img.logo{
			margin-top: -15px;
			margin-left: 0px;
		}
	}
	.ht-headerv4{
		.mobile-btn{
			
		}
		nav#mainNav3 .right-menu{
			margin-right: 0;
		}
		.hd-if{
			display: none;
		}
		button.search-top-bt{
			display: none;
		}
		img.logo{
			margin-top: -150px;
			margin-left: 85px;
			width: 45%;
		}
		button.open5{
			display: block;
			margin-top: -37px;
			margin-right: -30px;
		}
		.header-logov3{
			padding-bottom: 0;
		}
	}
	section#topbar{
		.top-left p{
			margin-left: 0;
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;
		}
		ul.topbar-right{
			float: none;
			margin-right: 0;
			// margin-left: 85px;
			li{
				text-align: center;
			}
			// li a{
			// 	text-align: center;
			// }
		 }
	}
	//responsove for flower header
	.flower-hd{
		img.logo{
			width: 50%;
			margin-top: -150px;
			margin-left: 75px;

		}
		button.open5{
			margin-top: -35px;
		}
	}
	//home flower 2
	.flower-hd2{
		position: inherit;
	}
}