<div class="about aboutv2 floweraboutv1 flowerabintro">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>welcome to organie!</h1>
					<h4 class="pink">-The best services for you-</h4>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ab-intro">
					<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
					exclusive we are stocking.</p>
				</div>	
			</div>
		</div>
	</div>
</div>