<section id="aboutpagev2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-it">
					<h1>We love our clients!</h1>
				</div>
			</div>	
		</div>
		<div class="row">
			<div id="owl-clients">
				<div class="item">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author1.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author2.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author3.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author1.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author2.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="ab-right">
							<div class="blog-it quote">
								<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
							</div>
							<div class="author">
								<img src="images/uploads/author3.jpg" alt="">
								<p>Jerry Hansen <br><span class="sub">/  Director Organie</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>