<div class="aboutplantads">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="plantads-left">
					<img src="images/uploads/plantintro.png" alt="">
					<a href="#"><img class="gg hvr-buzz" src="images/uploads/googleplay-btn.png" alt=""></a>
					<a href="#"><img class="app hvr-buzz" src="images/uploads/appstore-btn.png" alt=""></a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="plantads-r">
					<div class="heading-sec">
						<h1>why choose us</h1>
						<h4>-The best services for you-</h4>
					</div>
				    <div class="panel-group" id="accordion">
				        <div class="panel panel-default">
				           <div class="panel-heading">
				              <h4 class="panel-title">
				                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				                Benefit from more nutrients
				                 </a>
				              </h4>
				           </div><!--/.panel-heading -->
				           <div id="collapseOne" class="panel-collapse collapse in">
				              <div class="panel-body">
				                <p>Organically grown foods have more nutrients—vitamins, minerals, enzymes, and micronutrients—than commercially grown foods because the soil is managed and nourished with sustainable practices by responsible standards. Organic farming supports eco-sustenance, or farming in harmony with nature. </p>
				              </div><!--/.panel-body -->
				           </div><!--/.panel-collapse -->
				        </div><!-- /.panel -->
				        
				        <div class="panel panel-default">
				           <div class="panel-heading">
				              <h4 class="panel-title">
				                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				                 Reduce pollution and protect water and soil
				                 </a>
				              </h4>
				           </div><!--/.panel-heading -->
				           <div id="collapseTwo" class="panel-collapse collapse">
				              <div class="panel-body">
				                 <p>Organically grown foods have more nutrients—vitamins, minerals, enzymes, and micronutrients—than commercially grown foods because the soil is managed and nourished with sustainable practices by responsible standards. Organic farming supports eco-sustenance, or farming in harmony with nature. </p>
				              </div><!--/.panel-body -->
				           </div><!--/.panel-collapse -->
				        </div><!-- /.panel -->
				        
				        <div class="panel panel-default">
				           <div class="panel-heading">
				              <h4 class="panel-title">
				                 <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				                Preserve agricultural diversity
				                 </a>
				              </h4>
				           </div><!--/.panel-heading -->
				           <div id="collapseThree" class="panel-collapse collapse">
				              <div class="panel-body">
				             		<p>Organically grown foods have more nutrients—vitamins, minerals, enzymes, and micronutrients—than commercially grown foods because the soil is managed and nourished with sustainable practices by responsible standards. Organic farming supports eco-sustenance, or farming in harmony with nature. </p>
				              </div><!--/.panel-body -->
				           </div><!--/.panel-collapse -->
				        </div><!-- /.panel -->
				    </div><!-- /.panel-group -->
				</div>
			</div>
		</div>
	</div>
</div>