<div class="aboutflowerabv2 about floweraboutv4">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="ab-flow-r">
					<div class="ab-introv2">
						<h1>organie</h1>
						<h2 class="pink">flower store</h2>
					</div>	
					<div class="ab-flower-it">
						<h1>Always Fresh</h1>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="ab-flower-it">
						<h1>Keep You Healthy</h1>
						<p>Uisque euismod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat dibus obiit. Uisque euismod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat dibus obiit</p>
					</div>
					<div class="ab-flower-it">
						<h1>Always Fresh</h1>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque eumod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat </p>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<img src="images/uploads/abflow-right.png" alt="">
			</div>
		</div>
	</div>
</div>