<div class="aboutlogo aboutplantlogo">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="images/uploads/logo1.png" alt="">
				<img src="images/uploads/logo2.png" alt="">
				<img src="images/uploads/logo3.png" alt="">
				<img src="images/uploads/logo4.png" alt="">
				<img src="images/uploads/logo5.png" alt="">
			</div>
		</div>
	</div>
</div>