<div class="aboutplantintro">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<div class="ab-plant-left">
					<img src="images/uploads/ab-plant.png" alt="">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="team-it">
								<img src="images/uploads/team1.png" alt="">
								<div class="hover-inner">
									<h2>mark ronson</h2>
									<span>farmer</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="team-it">
								<img src="images/uploads/team2.png" alt="">
								<div class="hover-inner">
									<h2>mark ronson</h2>
									<span>farmer</span>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="team-it">
								<img src="images/uploads/team1.png" alt="">
								<div class="hover-inner">
									<h2>mark ronson</h2>
									<span>farmer</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="ab-plant-r">
					<h1>Best indoor plants for your home!</h1>
					<div class="row it">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<img src="images/uploads/sv-1.png" alt="">
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<h2>home decor</h2>
							<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod </p>
						</div>
					</div>
					<div class="row it">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<img src="images/uploads/sv-2.png" alt="">
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<h2>workspace</h2>
							<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia convallis  </p>
						</div>
					</div>
					<div class="row it">
						<div class="col-md-3 col-sm-3 col-xs-12">
							<img src="images/uploads/sv-3.png" alt="">
						</div>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<h2>for gift</h2>
							<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>