<section id="aboutv4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="history">
					<div class="history-content">
						<div class="heading-sec">
						<h1>our story</h1>
						<h4>-Discover our beautiful farm-</h4>
						</div>
						<p>We ares <span> Online Market</span> of organic fruits, vegetables, juices and dried fruits. Organic farming supports eco-sustenance, or farming in harmony with nature. </p>

						<p>Organic farming produces plant and animal foods without the excessive use of chemicals. It focuses on using fertile soil along with a variety of crops to maintain healthy growing conditions which produce a food with more nutrients and less chemicals than typical commercial foods.</p>

						<p>Visit our site for a complete list of exclusive we are stocking. </p>
						<div class="name">
						<div class="sign">
							<img src="images/uploads/name.png" alt="name">
						</div>
						<div class="author">
							<h4>Jerry Hansen</h4>
							<span class="sub">/  Director Organie</span>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>