<div class="about aboutv2 flower-services processv3 aboutflowerab">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="process-it">
					<div class="step-icon">
						<i class="organie-lettuce"></i>
					</div>
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
				</div>
				<div class="process-it">
					<div class="step-icon">
						<i class="organie-lemon"></i>
					</div>
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="middle-it">
					<div class="process-img">
						<img src="images/uploads/flow-service.png" alt="process">
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="process-it">
					<div class="step-content right">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="step-icon">
						<i class="organie-broccoli"></i>
					</div>
				</div>
				<div class="process-it">
					<div class="step-content right">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="step-icon">
						<i class="organie-carrot"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>