<div class="aboutv2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>welcome to oragnie</h1>
					<h4>-A friendly Organic store-</h4>
				</div>
			</div>
			<div class="col-md-12">
				<div class="ab-intro">
					<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
					exclusive we are stocking.</p>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="ab-items">
				<div class="ab-item2">
					<div class="ab-icon color1">
						<i class="organie-tomato"></i>
					</div>
					<div class="ab-content">
						<h1><a href="shoplist.html">Fruits</a></h1>
						<span>(36 items)</span>
					</div>
				</div>
				<div class="ab-item2">
					<div class="ab-icon color2">
						<i class="organie-broccoli"></i>
					</div>
					<div class="ab-content">
						<h1><a href="shoplist.html">Vegetable</a></h1>
						<span>(27 items)</span>
					</div>
				</div>
				<div class="ab-item2">
					<div class="ab-icon color3">
						<i class="organie-smoothie"></i>
					</div>
					<div class="ab-content">
						<h1><a href="shoplist.html">Juices</a></h1>
						<span>(12 items)</span>
					</div>
				</div>
				<div class="ab-item2">
					<div class="ab-icon color4">
						<i class="organie-milk"></i>
					</div>
					<div class="ab-content">
						<h1><a href="shoplist.html">Bread</a></h1>
						<span>(07 items)</span>
					</div>
				</div>
				<div class="ab-item2">
					<div class="ab-icon color5">
						<i class="organie-bread"></i>
					</div>
					<div class="ab-content">
						<h1><a href="shoplist.html">Dried Fruits</a></h1>
						<span>(14 items)</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>