<section id="aboutv1">
	<div class="container">
		<div class="row">
			<div class="decorate">
				<img src="images/uploads/decorate.png" alt="decorate">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ab-intro">
					<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
					exclusive we are stocking.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="ab-left">
					<img src="images/uploads/ab-left.png" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-right">
					<img src="images/uploads/ab-right.jpg" alt="">
					<div class="blog-it quote">
						<p>Organie  store is the greatest online health food shop. I’m always going to be one.</p>
						<h4>
							Jerry Hansen
						</h4>
						<p class="author">/  Director Organie</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>