<div class="farmers">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>Our amazing team</h1>
					<h4 class="pink">-We are the best team-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it pink">
					<img src="images/uploads/ab-farm1.png" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it pink">
					<img src="images/uploads/ab-farm2.png" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it pink">
					<img src="images/uploads/ab-farm3.png" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it pink">
					<img src="images/uploads/ab-farm4.png" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
		</div>
	</div>
</div>