<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ab-intro">
					<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
					exclusive we are stocking.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/ab1.png" alt="">
					<h2>Who are we?</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="learnmore" href="#">learn more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/ab2.png" alt="">
					<h2>How we work?</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="learnmore" href="#">learn more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/ab3.png" alt="">
					<h2>Quality products</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="learnmore" href="#">learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>