<div class="floweraboutv2 floweradsv4 flowerab-ads">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="fl-ads3-ct">
					<p class="title">Spring summer 2016</p>
					<h2>We’ve Unlimited Flower <br> Collections</h2>
					<a href="#" class="pink">Shop now</a>
					<img src="images/uploads/ab-ads.png" alt="">
				</div>
			</div>
		</div>
	</div>

</div>
<div class="aboutlogo pink">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<img src="images/uploads/logo1.png" alt="">
			<img src="images/uploads/logo2.png" alt="">
			<img src="images/uploads/logo3.png" alt="">
			<img src="images/uploads/logo4.png" alt="">
			<img src="images/uploads/logo5.png" alt="">
		</div>
	</div>
</div>