<div class="ads">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="ads-item">
					<img class="ads-img" src="images/uploads/ads1.png" alt="">
					<div class="ads-text">
						<h1>Strawberry</h1>
						<span>Nature fresh fruit</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="ads-item">
					<img src="images/uploads/ads2.png" alt="">
					<div class="ads-text right">
						<h1>Nature</h1>
						<span>Fresh fruits</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>