<div id="adsv2">
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="ads-left">
				<div class="ads-text">
					<h2>Summer</h2>
					<h1>Sale</h1>
					<p>
						Sale up to 40% off - <span>code: 938A12</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="ads-right">
				<div class="ads-text ad-r">
					<h2 class="ad-r">New products</h2>
					<h1 class="ad-r">Organic</h1>
					<p class="ad-r">
						Sale up to 40% off - <span>code: 938A12</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>