<section class="blogsingle">
	<img class="blog-img" src="images/uploads/blogsingle.png" alt="">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="blogsingle-content">
					<div class="date">
						<span>Octorber 5th, 2016 by <a class="admin" href="#">Admin</a></span>
					</div>
					<h1>Become Heart Healthy in 5 Simple Step </h1>
					<p class="quote">Thank you for all the amazing products you deliver each week...I've been telling everyone about your greatest online healthy food shop!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur adipisicing elitur tantas regiones barba rorum peat dibus obiit, tot mariataelitur uctor id posuere sed, gravida non odio. Consectetur adipis icing elitur tantas regiones barbarorum peat dibus obiit, tot mariataelitur</p>
					<h2>Mauris suscipit ut purus </h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur adipisicing elitur tantas regiones barba rorum peat dibus obiit, tot mariataelitur uctor id posuere sed, gravida non odio. Consectetur adipis icing elitur tantas regiones barbarorum peat dibus obiit, tot mariataelitur</p>
					<div class="blog-post">
						<div class="row">
							<div class="col-md-6">
								<img src="images/uploads/single1.png" alt="single1">
							</div>
							<div class="col-md-6">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur adipisicing elitur tantas regiones barba rorum peat dibus obiit, tot mariataelitur uctor id posuere sed, gravida non odio.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur.</p>
							</div>
						</div>
					</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur adipisicing elitur tantas regiones barba rorum peat dibus obiit, tot mariataelitur uctor id posuere sed, gravida non odio. Consectetur adipis icing elitur tantas regiones barbarorum peat dibus obiit, tot mariataelitur</p>
					<!-- tags -->
					<div class="tags">
						<i class="fa fa-tag" aria-hidden="true"></i>
						<a href="#">fruits</a>, <a href="#">vegetables</a>, <a href="#">oganic store</a>
						<span class="share"><a href="#"><i class="fa fa-share-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Share"></i>Share this post</a></span>
					</div>
					<img class="div-line" src="images/uploads/div-line.png" alt="divide">
					<!-- author -->
					<div class="author-post">
						<div class="row">
							<div class="col-md-2">
								<img src="images/uploads/avar.png" alt="avar">
							</div>
							<div class="col-md-10">
								<div class="author-infor">
									<h3><a href="#">Kylie Stewart</a></h3>
									<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
									<div class="social">
										<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
										<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<!-- paniagtion -->
					<div class="panigation2">
						<div class="prev">
							<a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Title of the previous post</a>
						</div>
						<div class="grid">
							<a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
						</div>
						<div class="next">
							<a href="#">Title of the next post<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
						</div>
					</div>
					<!-- comment -->
					<div class="comment">
						<h2 class="cmt-heading">Comments<span>(07)</span></h2>
						<div class="cmt-it">
							<div class="row">
								<div class="col-md-2">
									<img src="images/uploads/cmt1.png" alt="">
								</div>
								<div class="col-md-10">
									<div class="cmt-content">
										<h4><a href="#">Jonathan Doe</a><li class="date">July 14th, 2016</li></h4>
										<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
										<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
									</div>	
								</div>
							</div>
						</div>
						<div class="cmt-it cmt2">
							<div class="cmt2-it">
								<div class="row">
									<div class="col-md-2">
										<img src="images/uploads/cmt2.png" alt="">
									</div>
									<div class="col-md-10">
										<div class="cmt-content">
											<h4><a href="#">Jonathan Doe</a><li class="date">July 14th, 2016</li></h4>
											<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
											<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
										</div>	
									</div>
								</div>
							</div>
							<div class="cmt2-it">
								<div class="row">
									<div class="col-md-2">
										<img src="images/uploads/cmt1.png" alt="">
									</div>
									<div class="col-md-10">
										<div class="cmt-content">
											<h4><a href="#">Jonathan Doe</a><li class="date">July 14th, 2016</li></h4>
											<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
											<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
										</div>	
									</div>
								</div>
							</div>
						</div>
						<div class="cmt-it">
							<div class="row">
								<div class="col-md-2">
									<img src="images/uploads/cmt3.png" alt="">
								</div>
								<div class="col-md-10">
									<div class="cmt-content">
										<h4><a href="#">Jonathan Doe</a><li class="date">July 14th, 2016</li></h4>
										<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
										<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
									</div>	
								</div>
							</div>
						</div>
						<div class="cmt-it">
							<div class="row">
								<div class="col-md-2">
									<img src="images/uploads/cmt4.png" alt="">
								</div>
								<div class="col-md-10">
									<div class="cmt-content">
										<h4><a href="#">Jonathan Doe</a><li class="date">July 14th, 2016</li></h4>
										<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
										<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Reply</a>
									</div>	
								</div>
							</div>
						</div>
						<a href="#" class="loadmore">load more comments</a>
					</div>
					<img class="div-line" src="images/uploads/div-line.png" alt="divide">
					<!-- comment form -->
					<form action="" class="post-cmt">
						<label>Leave your thought</label>
							<div class="row">
								<div class="col-md-4">
									<input class="name" type="text" placeholder="Lee Bui">
								</div>
								<div class="col-md-4">
									<input class="email" type="text" placeholder="E-mail*">
								</div>
								<div class="col-md-4">
									<input class="website" type="text" placeholder="Website">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<input  class="comt" type="textarea" placeholder="Comment*">
								</div>
							</div>
							<input class="submit" type="submit" value="post comment">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>