<div class="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="sub-heading">
					<h1>Subscribe To Our Newsletter</h1>
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="form">
					<input class="email" type="text" placeholder="Enter your email">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="sub-button">
					<a href="#">subscribe</a>
				</div>
			</div>
		</div>
	</div>
</div>