<section class="bloglistpost-v1 bloglistpost-v2">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-sm-8 col-xs-12">
				<div class="blogpost-v1">
					<div class="blog-it">
						<a href="#"><img class="post-img" src="images/uploads/post1.jpg" alt="thumb1"></a>
						<div class="blog-it-content">
							<div class="date">
								<span>Octorber 5th, 2016 by <a href="#">John Doe</a></span>
							</div>
							<h2><a href="#">Become Heart Healthy in 5 Simple Step</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, aco nsectetur adipisicing elitur tantas regiones barba rorum peat dibus obiit, tot mariataelitur uctor id posuere sed, gravida non odio. Consectetur adipisicing elitur tantas regiones barbarorum peat dibus obiit, tot mariataelitur</p>
							<a class="readmore" href="#">Read more</a>
							<span class="share"><a href="#"><i class="fa fa-share-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Share"></i>Share this post</a></span>
						</div>
					</div>
					<img class="div-line" src="images/uploads/div-line.png" alt="divide">
				</div>
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-5">
							<div class="video2">
								<img src="images/uploads/postv2.png" alt="">
								<a class="video-play2" href="#"><img  src="images/video-icon2.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016 by <a class="admin" href="#">Admin</a></span>
								</div>
								<h2><a href="#">Health Benefits of a Raw Food</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat </p>
								<a class="readmore2" href="#">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
				<img class="div-line2" src="images/uploads/div-line.png" alt="divide">
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-5">
							<div class="video2">
								<a href="#"><img src="images/uploads/post2v2.png" alt="image"></a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016 by <a class="admin" href="#">Admin</a></span>
								</div>
								<h2><a href="blogsingle.html">Become Heart Healthy in 5 Simple Step </a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat </p>
								<a class="readmore2" href="#">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="blogpost-v2-quote">
					<p>Thank you for all the amazing products you deliver each week...I've been telling everyone about your greatest online healthy food shop!</p>
					<h4>
						Jerry Hansen
					</h4>
					<p class="author">/  Director Organie</p>
				</div>
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-5">
							<div class="video2">
								<a href="#"><img src="images/uploads/post3v2.png" alt="image"></a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016 by <a class="admin" href="#">Admin</a></span>
								</div>
								<h2><a href="blogsingle.html">Turnips: Putting The Sporlight On This Delicious Root Veggie</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat </p>
								<a class="readmore2" href="#">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
				<img class="div-line2" src="images/uploads/div-line.png" alt="divide">
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-5">
							<div class="video2">
								<img src="images/uploads/post4v2.png" alt="">
								<a class="video-play2" href="#"><img  src="images/video-icon2.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016 by <a class="admin" href="#">Admin</a></span>
								</div>
								<h2><a href="blogsingle.html">Green Tomato Recipes</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo,  iquam tempor sagittis neque, vel aliquam risect etur, nsect etur adipisicing elitur tantas regiones barbarorum peat </p>
								<a class="readmore2" href="#">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
				<img class="div-line3" src="images/uploads/div-line.png" alt="divide">
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="bg-sidebar">
					<div class="search">
						<input class="search-input" type="text" placeholder="Enter keyword">
						<i class="fa fa-search" aria-hidden="true"></i>
					</div>
					<div class="categories">
						<h1 class="cate-heading">Categories</h1>
						<ul>
							<li>Fruit <img src="images/line1.png" alt=""> 06</li>
							<li>Vegetables <img src="images/line2.png" alt=""> 07</li>
							<li>Juice Fruits <img src="images/line2.png" alt=""> 05</li>
							<li>Dried Fruits <img src="images/line2.png" alt=""> 02</li>
							<li>Other <img src="images/line1.png" alt=""> 12</li>
						</ul>
					</div>
					<div class="pp-posts">
						<h1 class="cate-heading">Popular Posts</h1>
						<div class="pp-post-it">
							<img src="images/uploads/pp1.png" alt="post1">
							<div class="pp-infor">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h5><a href="blogsingle.html">Fresh fruits from the  White House</a></h5>
							</div>
						</div>
						<div class="pp-post-it">
							<img src="images/uploads/pp2.png" alt="post1">
							<div class="pp-infor">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h5><a href="blogsingle.html">Should We Rewash Pre-washed Greens? </a></h5>
							</div>
						</div>
						<div class="pp-post-it">
							<img src="images/uploads/pp3.png" alt="post1">
							<div class="pp-infor">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h5><a href="blogsingle.html">Health Benefits of a Raw Food</a></h5>
							</div>
						</div>
						<div class="pp-post-it">
							<img src="images/uploads/pp4.png" alt="post1">
							<div class="pp-infor">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h5><a href="blogsingle.html">How to make a fresh fruit arrangement</a></h5>
							</div>
						</div>
					</div>
					<div class="sale">
							<a href="#"><img src="images/uploads/sale.png" alt="post1"></a>
					</div>
					<div class="searchbytag">
						<h1 class="cate-heading">Search by Tags</h1>
						<ul class="tags">
							<li><a href="galleryv1.html">fruits</a></li>
							<li><a href="galleryv1.html">vegatable</a></li>
							<li><a href="galleryv1.html">green</a></li>
							<li><a href="galleryv1.html">organci store</a></li>
							<li><a href="galleryv1.html">natural</a></li>
							<li><a href="galleryv1.html">bread</a></li>
							<li><a href="galleryv1.html">food</a></li>
							<li><a href="galleryv1.html">healthy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>