<div class="blog">
	<div class="container">
		<div class="row">
			<div class="grid-man">
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/man1.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">Is Buying Organic Healthier?</a></h2>
							<p>Organic food specialists are still relatively thin on the ground. However, they are gaining popularity and becoming more common. We're typically conditioned to believe that organic food is better for us than conventional food, simply because. For many of us, the labelling used on organic food translates into the idea in our heads that it…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left ">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/man2.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">Feeding kids organic food</a></h2>
							<p>Choosing organic meat and dairy for your kids is the best way to ensure that they’re not exposed to endocrine-disrupting chemicals like the synthetic hormones given to nonorganic livestock to speed growth and alter reproductive cycles. And choosing organic meat and dairy means your children are not fed meat that was raised on daily doses…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left ">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/gallery8.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">5 Ways Home Gardeners Can Make More Robust Soil</a></h2>
							<p>As a child, Ohlson had easy access to gardens. Her grandparents maintained a small orchard and grew produce on their farm. While Ohlson didn’t develop a deeper agricultural interest until she grew up (all those hours harvesting vegetables cut into childhood playtime, after all), she eventually started researching how food is grown. And that research…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4  col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/man4.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">Sweet Potato Health Benefits</a></h2>
							<p>Besides being astronaut-approved, sweet potatoes are a great source of easily digestible fiber, minerals, vitamins, and antioxidants such as beta-carotene. Sweet potatoes also contain bioactive compounds such as phenolic acids and anthocyanins, which contribute to the bright orange color of their skin and flesh and boast health benefits as well.</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4  col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/ma5.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 18, 2016</span>
							</div>
							<h2><a href="#">Why You Should Eat Avocados</a></h2>
							<p>It’s no secret that I love to eat. My favorite food of all? Avocados. I’m bananas for them! Avocados are truly one of nature’s little miracle foods and I encourage you to enjoy them several times a week. These little green gems can do so much to help keep you well from head to toe,….</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it quote">
						<i class="ion-quote"></i>
						<p>Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!</p>
						<h4>
							Jerry Hansen
						</h4>
						<p class="author">/  Director Organie</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/gallery7.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">4 Fall Produce Picks to Boost Immunity</a></h2>
							<p>Are you getting enough of this crucial vitamin? An antioxidant, vitamin C promotes wrinkle-free skin, supports good immunity. And may help the body protect itself against some diseases, such as cardiovascular disease and cancer. Oranges and other citrus aren’t the only sources. These fall/winter vegetables offer ample amounts too. With cold and flu season around…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/man5.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">Become Heart Healthy in 5 Steps</a></h2>
							<p>Are you getting enough of this crucial vitamin? An antioxidant, vitamin C promotes wrinkle-free skin, supports good immunity. And may help the body protect itself against some diseases, such as cardiovascular disease and cancer. Oranges and other citrus aren’t the only sources. These fall/winter vegetables offer ample amounts too. With cold and flu season around…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it quote">
						<i class="ion-quote"></i>
						<p>Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!</p>
						<h4>
							Jerry Hansen
						</h4>
						<p class="author">/  Director Organie</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 grid-item-man">
					<div class="blog-it-left">
						<div class="post-thumbnail">
							<a href="#"><img class="blog-img" src="images/uploads/man5.jpg" alt=""></a>
						</div>
						<div class="blog-ct-left">
							<div class="date">
								<span>Octorber 21, 2016</span>
							</div>
							<h2><a href="#">Become Heart Healthy in 5 Steps</a></h2>
							<p>Are you getting enough of this crucial vitamin? An antioxidant, vitamin C promotes wrinkle-free skin, supports good immunity. And may help the body protect itself against some diseases, such as cardiovascular disease and cancer. Oranges and other citrus aren’t the only sources. These fall/winter vegetables offer ample amounts too. With cold and flu season around…</p>
							<a class="readmore2" href="#">/ &nbsp; Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>