<div class="blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>from our blog </h1>
					<h4>-Keep up to date with us-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="blog-it-left">
					<a href="#"><img class="blog-img" src="images/uploads/blog-it1.png" alt=""></a>
					<div class="blog-ct-left">
						<div class="date">
							<span>Octorber 5th, 2016</span>
						</div>
						<h2><a href="blogsingle.html">Tips for Ripening your Fruit</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore2" href="blogsingle.html">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="video2">
								<a href="#"><img src="images/uploads/blog-it2.png" alt="image"></a>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h2><a href="blogsingle.html">Health Benefits of a Raw Food</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo...</p>
								<a class="readmore2" href="blogsingle.html">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
				<div class="blogpost-v2">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="video2">
								<a href="#"><img src="images/uploads/blog-it3.png" alt="image"></a>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="blog-it-content2">
								<div class="date">
									<span>Octorber 5th, 2016</span>
								</div>
								<h2><a href="blogsingle.html">Feeding kids organic food</a></h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo...</p>
								<a class="readmore2" href="blogsingle.html">/ &nbsp; Read more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>