<div class="flowerads cakeads">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="fl-ads3-ct">
					<p>bakery's deliciously sweet cakes</p>
					<h2>Custom-make cakes with <br> a disscount</h2>
					<a href="#" class="pink">Shop now</a>
				</div>
			</div>
		</div>
	</div>
</div>