<div class="cakeabout">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img class="img-left" src="images/uploads/cakeab.jpg" alt="">
			</div>
			<div class="col-md-7">
				<img class="img-r" src="images/uploads/cakeab3.jpg" alt="">
				<p>We invite you to enjoy our <span> bakery's deliciously sweet cakes</span> and breads made every day 
				specifically for you.</p>
			</div>
		</div>
	</div>
</div>