<div class="cakeaboutab cakearrival">
	<div class="container">
		<div class="row item1">
			<div class="col-md-7 col-sm-7 col-xs-12">
				<div class="heading-sec">
					<h1>#Welcom <br> to organie!</h1>
					<h4 class="pink">-The best services for you-</h4>
					<p>We invite you to enjoy our bakery's deliciously sweet cakes and breads made every day specifically for you.</p>
					<img src="images/uploads/cakeabout1.png" alt="">
				</div>
			</div>
			<div class="col-md-5 col-sm-5 col-xs-12">
				<div class="ab-right">
					<img src="images/uploads/cakeabout2.png" alt="">
					<p class="quote">
						Organie  store is the greatest online health food shop. I’m always going to be one.
					</p>
					<h4>Jerry Hansen</h4>
					<p class="quote">
						/  Student - USA
					</p>
				</div>
			</div>
		</div>
		<div class="row item2">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="left-it">
					<img src="images/uploads/aboutme.png" alt="">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="heading-sec">
					<h4 class="pink">-Director store-</h4>
					<h1>#Meghan <br> Trainor</h1>
					<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia ur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis erostas regiones barbarorum peat dibus obiit, tot mariata uisque euslf</p>
					
				</div>
				<div class="ct-icon pink-ico">
					<a href="#"><i class="fa fa-facebook" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
					<a href="#"><i class="fa fa-youtube-play" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>
					<a href="#"><i class="fa fa-vimeo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Vimeo"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="milestone">
					<h1>27</h1>
					<span>Years of experience</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="milestone">
					<h1 class="count">140</h1>
					<span>Happy clients</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="milestone">
					<h1 class="count">35</h1>
					<span>templates</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="milestone">
					<h1 class="count">940</h1>
					<span>coffee cups</span>
				</div>
			</div>
		</div>
	</div>
</div>