<div class="products cakearrival blog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1># blog update</h1>
					<h4 class="pink">-Keep up to date with us-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="blog-it-left">
					<div class="post-thumbnail">
						<a href="#"><img class="blog-img" src="images/uploads/cakeblog1.jpg" alt=""></a>
					</div>
					<div class="cakeblog-ct">
						<div class="row">
							<div class="col-md-2">
								<div class="arr-date">
									<h1>14</h1>
									<p>Sep</p>
								</div>
							</div>
							<div class="col-md-10">
								<div class="blog-ct-left">
									<div class="date">
										<span>Lifestyle</span>
									</div>
									<h2><a href="blogsingle.html">Tips for Ripening your Fruit</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
									<a class="readmore2 pink" href="#">/ &nbsp; Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="blog-it-left">
					<div class="post-thumbnail">
						<a href="blogsingle.html"><img class="blog-img" src="images/uploads/cakeblog2.jpg" alt=""></a>
					</div>
					<div class="cakeblog-ct">
						<div class="row">
							<div class="col-md-2">
								<div class="arr-date">
									<h1>14</h1>
									<p>Sep</p>
								</div>
							</div>
							<div class="col-md-10">
								<div class="blog-ct-left">
									<div class="date">
										<span>Recipes</span>
									</div>
									<h2><a href="#">Tips for Ripening your Fruit</a></h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
									<a class="readmore2 pink" href="#">/ &nbsp; Read more</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>