<div class="flower-bg">
	<img src="images/uploads/flowerbg.png" alt="">
</div>
<div class="cakecategories flowercategories">
	<div class="container">
		<div class="cake-cate-ct">
			<div class="row">
				<div class="col-md-4">
					<div class="cake-heading">
						<h1>#shop by categories</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="cate-it">
						<div class="fl-cate-ct">
							<img src="images/uploads/cate-1.jpg" alt="">
							<h2 class="cate-title"><a href="#">cookies</a></h2>
						</div>
						<div class="fl-cate-ct">
							<img src="images/uploads/cate-2.jpg" alt="">
							<h2 class="cate-title"><a href="#">breads</a></h2>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cate-it">
						<div class="fl-cate-ct">
							<img src="images/uploads/cate-3.jpg" alt="">
							<h2 class="cate-title"><a href="#">macaroon</a></h2>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="cate-it">
						<div class="fl-cate-ct">
							<img src="images/uploads/cate-4.jpg" alt="">
							<h2 class="cate-title"><a href="#">cupcake</a></h2>
						</div>
						<div class="fl-cate-ct">
							<img src="images/uploads/cate-5.jpg" alt="">
							<h2 class="cate-title"><a href="#">chocolate</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>