<div class="cakeinstagram">
	<div class="container">
		<div class="row">
			<div class="insta-content">
				<div class="border">
					<div class="insta-text">
						<p>Follow us on</p>
						<p class="title"> instagram</p>
						<a href="#">@organie_store941</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>