<section class="checkout">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="links">
					<p>Returning customer?<a href="#">Click here to login</a></p>
					<p>Have a coupon? <a href="#">Click here to enter your code</a></p>
				</div>
				<div class="bill">
					<h1 class="bill-heading">Billing Details</h1>
					<form action="" class="post-cmt form-detail">
						<div class="row">
							<div class="col-md-12">
								<p class="title">country*</p>
								<select>
									<option value="" >UnitedKingdom UK</option>
									<option value="">UnitedKingdom UK</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p class="title">First name*</p>
								<input class="it1" type="text" placeholder="">
							</div>
							<div class="col-md-6">
								<p class="title">last name*</p>
								<input class="it1" type="text" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="title">company name</p>
								<input class="it2" type="text" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="title">Address*</p>
								<input class="it2" type="text" placeholder="">
							</div>
						</div>	
						<div class="row">
							<div class="col-md-6">
								<p class="title">town/city*</p>
								<input class="it1" type="text" placeholder="">
							</div>
							<div class="col-md-6">
								<p class="title">country*</p>
								<input class="it1" type="text" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p class="title">phone*</p>
								<input class="it1" type="text" placeholder="">
							</div>
							<div class="col-md-6">
								<p class="title">email*</p>
								<input class="it1" type="text" placeholder="">
							</div>
						</div>	
						<div class="row">
							<div class="col-md-12">
								<p class="title">post code*</p>
								<input class="it2" type="text" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="checkbox">
						            <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox" checked>
						            <label for="checkbox-1" class="checkbox-custom-label">Create an account</label>
						        </div>
							</div>						
						</div>				
						<div class="row">
							<div class="col-md-12">
								<p class="title">order note</p>
								<input  class="comt" type="textarea" placeholder="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="checkbox">
						            <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox" checked>
						            <label for="checkbox-2" class="checkbox-custom-label">Ship to another address </label>
						        </div>
							</div>						
						</div>	
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<div class="order">
					<h1 class="order-heading">
						your order
					</h1>
					<img class="order-line" src="images/uploads/order-line.png" alt="line">
					<div class="products">
						<h2 class="pro">Products</h2>
						<p>Organic Sweetcorn <b>x2</b><span class="sub">$38.00</span></p>
						<p>Sleeping Night Oil <b> x1</b><span class="sub">$100.00</span></p>
						<p>Organic Broccoli <b>x3</b><span class="sub">$30.00</span></p>
					</div>
					<img class="order-line" src="images/uploads/order-line.png" alt="line">
					<div class="products">
						<h2>Subtotal <span class="sub subtotal">$168.00</span></h2>
					</div>
					<img class="order-line" src="images/uploads/order-line.png" alt="line">
					<div class="products">
						<h2>Shipping <span class="sub">$5.00</span></h2>
					</div>
					<img class="order-line" src="images/uploads/order-line.png" alt="line">
					<div class="products">
						<h2>Total <span class="sub total">$173.00</span></h2>
					</div>
					<img class="order-line" src="images/uploads/order-line.png" alt="line">
					<div class="checkbox circle">
						<input id="checkbox-3" class="checkbox-custom circle" name="checkbox-3" type="checkbox" checked>
						<label for="checkbox-3" class="checkbox-custom-label circle">Cheque Payment</label>
					</div>
					<div class="checkbox circle">
						<input id="checkbox-4" class="checkbox-custom circle" name="checkbox-4" type="checkbox" checked>
						<label for="checkbox-4" class="checkbox-custom-label circle">Paypal <a href="#"><img src="images/uploads/paypal.png" alt="paypal"></a></label>
					</div>		
					<img class="order-line" src="images/uploads/order-line.png" alt="line">		
					<a href="#" class="readmore">Place order</a>
				</div>
			</div>
		</div>
	</div>
