<div id="chooseus">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="outer-it">
					<div class="choose-it it1">
						<div class="inner-it">
							<h2><a href="#">Healthy Diets</a></h2>
							<p>Cur tantas regiones barbarorum pedibus obiit, totie maria </p>
						</div>
					</div>
					<div class="choose-it it2">
						<div class="inner-it">
							<h2><a href="#">Always Fresh</a></h2>
							<p>Cur tantas regiones barbarorum pedibus obiit, totie maria </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="middle-img">
					<img src="images/uploads/choose-img.png" alt="">
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="outer-it">
					<div class="choose-it it1">
						<div class="inner-it">
							<h2><a href="#">Healthy Diets</a></h2>
							<p>Cur tantas regiones barbarorum pedibus obiit, totie maria </p>
						</div>
					</div>
					<div class="choose-it it2">
						<div class="inner-it">
							<h2><a href="#">Always Fresh</a></h2>
							<p>Cur tantas regiones barbarorum pedibus obiit, totie maria </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>