<section class="comingsoon">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Coming soon</h1>	
				<div id="clockdiv" class="time">
					<div class="it-time">
						<span class="days"></span>
						<p>-days-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="hours">					
						</span>
						<p>-hours-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="minutes">					
						</span>
						<p>-mins-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="seconds">										
						</span>
						<p>-secs-</p>
					</div>
				</div>	
				<input type="text" class="email" placeholder="Enter your e-mail">	
				<a href="#" class="subcribe">subcribe</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img class="div-line" src="images/uploads/div-line.png" alt="divide" width="100">
				<div class="ct-it ct-icon">
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
				</div>
				<div class="infor-ct">
					<span class="left">
						14 L.E Goulburn St, Sydney 2000NSW  -  (088) 1990 6886<br>
						Copyright © 2016 <a href="#">Organiestore</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</section>