<section class="contact blogsingle">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="contact-left">
					<div class="ct-it">
						<h4>Address</h4>
						<p>1800 Abbot Kinney Blvd. Unit D & E<br>
						Venice, CA 90291</p>
						<img class="order-line" src="images/uploads/order-line.png" alt="">
					</div>
					<div class="ct-it">
						<h4>Phone</h4>
						<p>Mobile: (+88) - 1990 - 6886<br>
						Hotline: 1800 - 1102</p>
						<img class="order-line" src="images/uploads/order-line.png" alt="">
					</div>
					<div class="ct-it">
						<h4>Email</h4>
						<p><a href="#">support@organie.com</a>
						<a href="#">contact@organie_store.com1</a></p>
						<img class="order-line" src="images/uploads/order-line.png" alt="">
					</div>
					<div class="ct-it ct-icon">
						<h4>Social</h4>
						<a href="#"><i class="fa fa-facebook" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
						<a href="#"><i class="fa fa-youtube-play" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>
						<a href="#"><i class="fa fa-vimeo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Vimeo"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="contact-form blogsingle-content">
					<!-- comment form -->
					<form action="#" class="post-cmt">
						<label>Get in touch</label>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="name" type="text" placeholder="Lee Bui">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="email" type="text" placeholder="E-mail*">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="website" type="text" placeholder="Website">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-xs-12 col-sm-12">
									<input  class="comt" type="text" placeholder="Comment*">
								</div>
							</div>
							<input class="submit" type="submit" value="post comment">
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="map_canvas" style="width:100%;height:480px">
				</div>
			</div>
		</div>
	</div>
</section>