<section class="contact blogsingle contactv2">
	<div class="contact-top">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="ct-img">
						<img src="images/uploads/ct-left.png" alt="">
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="left-ct">
						<div class="ct-v2-hd">
						<h1>Get in touch</h1>	
					</div>
					<h4>Vestibulum quis posuere ligula. Fusce in odio ac diam finibus tempus. Suspen disse potenti. Etiam accu msan purus magna, ever ara mus consequat, felis at aliquam consect etur.</h4>
					<div class="contact-left ct-v2">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="ct-it">
									<h4>Address</h4>
									<p>1800 Abbot Kinney Blvd. Unit D & E<br>
									Venice, CA 90291</p>
									<img class="order-line" src="images/uploads/order-line.png" alt="">
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="ct-it">
									<h4>Phone</h4>
									<p>Mobile: (+88) - 1990 - 6886<br>
									Hotline: 1800 - 1102</p>
									<img class="order-line" src="images/uploads/order-line.png" alt="">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="ct-it">
									<h4>Email</h4>
									<p><a href="#">support@organie.com</a>
									<a href="#">contact@organie_store.com1</a></p>
									<img class="order-line" src="images/uploads/order-line.png" alt="">
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="map_canvas" style="width:100%;height:480px">
	
				</div>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>Leave us a message</h1>
					<h4>-Good for nature, good for you-</h4>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="contact-form blogsingle-content">
					<!-- comment form -->
					<form action="#" class="post-cmt">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="name" type="text" placeholder="Lee Bui">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="email" type="text" placeholder="E-mail*">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input class="website" type="text" placeholder="Website">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input  class="comt" type="text" placeholder="Comment*">
								</div>
							</div>
							<input class="submit" type="submit" value="post comment">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>