<section id="deal" class="dealv4">
	<div class="container">
		<div class="deal-ct">
			<div class="row">
			<div class="col-md-6 col-sm-4 col-xs-12">
				<div class="deal-label">
					<h4>-Only-</h4>
					<span class="lb-left">$ 26</span>
				</div>				
			</div>
			<div class="col-md-6 col-sm-8 col-xs-12">
				<div class="deal-right">
					<div class="deal-heading">
						<div class="heading-sec">
							<h1>deal of the day</h1>
							<h4>Green Tea + Lemongrass</h4>
						</div>
						<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiea.</p>
						<div id="clockdiv" class="time">
							<div class="it-time">
								<span class="days"></span>
								<p>-days-</p>
							</div>
							<span class="space">:</span>
							<div class="it-time">
								<span class="hours">					
								</span>
								<p>-hours-</p>
							</div>
							<span class="space">:</span>
							<div class="it-time">
								<span class="minutes">					
								</span>
								<p>-mins-</p>
							</div>
							<span class="space">:</span>
							<div class="it-time">
								<span class="seconds">										
								</span>
								<p>-secs-</p>
							</div>
						</div>	
						<a href="#" class="readmore"  data-toggle="tooltip" data-placement="top" title="Add to cart">add to card</a>
						<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>