<section id="decorate">
	<div class="row">
		<div class="container">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img src="images/uploads/decorate.png" alt="decorate">
			</div>
		</div>
	</div>
</section>