<section class="error">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Opps! Page not found!</h1>
				<p> please go back to<a href="#">home page</a></p>
				<img src="images/uploads/error-img.png" alt="">
			</div>
		</div>
	</div>
</section>