<section id="farm">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading-sec">
					<h1>farm services</h1>
					<h4>-The best services for you-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="farm-it">
					<i class="organie-carrot"></i>
					<div class="title">
						Organic Products
					</div>
					<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					<a href="#" class="readmore3">Read more</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="farm-it">
					<i class="organie-tractor"></i>
					<div class="title">
						RFS Machines
					</div>
					<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					<a href="#" class="readmore3">Read more</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="farm-it">
					<i class="organie-lettuce"></i>
					<div class="title">
						Food Strategy
					</div>
					<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					<a href="#" class="readmore3">Read more</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="farm-it">
					<i class="organie-egg"></i>
					<div class="title">
						Water Management
					</div>
					<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					<a href="#" class="readmore3">Read more</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="farm-img">
					<img src="images/uploads/farm-img.jpg" alt="farm">
				</div>
			</div>
		</div>
	</div>
</section>