<div class="farmers">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>Our farmers</h1>
					<h4>-We are the best team-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it">
					<img src="images/uploads/farmer1.jpg" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it">
					<img src="images/uploads/farmer2.jpg" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it">
					<img src="images/uploads/farmer3.jpg" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="farm-it">
					<img src="images/uploads/farmer4.jpg" alt="">
					<h2>Tyler Palmer</h2>
					<span class="sub">Director</span>
				</div>
			</div>
		</div>
	</div>
</div>