<div class="floweradsv3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="ads-item-left">
					<div class="ads-text">
						<h1>Wedding</h1>
						<span>Flower Collection</span>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="ads-item-right">
					<div class="ads-text">
						<h1>Beautiful</h1>
						<span>Collection of flowers</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>