<div class="about floweraboutv4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-ms-6 col-xs-12">
				<img src="images/uploads/flow-ab4.jpg" alt="">
			</div>
			<div class="col-md-6 col-ms-6 col-xs-12">
				<div class="ab-flow-r">
					<div class="ab-intro flowerintro">
						<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
						exclusive we are stocking.</p>
					</div>	
					<div class="ab-flower-it">
						<h1>Always Fresh</h1>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="ab-flower-it">
						<h1>Keep You Healthy</h1>
						<p>Uisque euismod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat dibus obiit. Uisque euismod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat dibus obiit</p>
					</div>
					<div class="ab-flower-it">
						<h1>Always Fresh</h1>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque eumod convallis eros quis lacinia enim rhoncu ur tantas regiones barbarorum peat </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>