<div class="subscribev3 flowersub">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
					<img src="images/uploads/sub-bg4.png" alt="">
				</div>
			</div>
		<div class="sub-content">
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="sub-heading">
						<h1>Subscribe To Our Newsletter</h1>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form">
						<input class="email" type="text" placeholder="Enter your email">
					</div>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="sub-button">
						<a href="#" class="pink">subscribe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>