<div class="floweraboutv2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="fl-ads3-ct">
					<p class="title">Spring summer 2016</p>
					<h2>We’ve Unlimited Flower <br> Collections</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu. Vero mollitia suscipit officiis quia nobis sapiente corrupti ipsum exer</p>
					<a href="#" class="pink">Shop now</a>
				</div>
				<img src="images/uploads/flow-ab1.png" alt="" class="ab-img">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<img src="images/uploads/flow-ab2.png" alt="" class="ab-img-r">
				<div class="fl-ads3-ct">
					<div class="heading-sec">
						<h4 class="grey">-Flower store-</h4>
						<h1>Organie <br><span>store</span></h1>
					</div>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu. Vero mollitia suscipit officiis quia nobis sapiente corrupti ipsum exer</p>
					<a href="#" class="pink">Shop now</a>
				</div>
			</div>
		</div>
	</div>
</div>