<div class="flowercategories">
	<div class="row">
		<div class="cate-it">
			<div class="fl-cate-ct">
				<img src="images/uploads/cate1.png" alt="">
				<h2 class="cate-title"><a href="#">for valentine</a></h2>
			</div>
			<div class="fl-cate-ct">
				<img src="images/uploads/spring-it.jpg" alt="">
			</div>
			<div class="fl-cate-ct">
				<img src="images/uploads/cate3.png" alt="">
				<h2 class="cate-title it3"><a href="#">gift wrapping</a></h2>
			</div>
			<div class="fl-cate-ct it4">
				<img src="images/uploads/cate4.png" alt="">
				<h2 class="cate-title"><a href="#">gift wrapping</a></h2>
			</div>
			<div class="fl-cate-ct it5">
				<img src="images/uploads/cate5.png" alt="">
				<h2 class="cate-title"><a href="#">gift wrapping</a></h2>
			</div>
		</div>
	</div>
</div>