<div class="flowerinstagram">
	<div class="row">
		<div class="insta-img">
			<img src="images/uploads/insta1.jpg" alt="">
		
			<img src="images/uploads/insta2.jpg" alt="">
		
			<img src="images/uploads/instagram3.jpg" alt="">
		
			<img src="images/uploads/insta4.jpg" alt="">
		
			<img src="images/uploads/insta5.jpg" alt="">
		
			<img src="images/uploads/insta6.jpg" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="insta-content">
				<h1>Follow us on instagram</h1>
				<a href="#">@organie_store941</a>
			</div>
		</div>
	</div>
</div>