<div class="slogan">
	<div class="container">
		<div class="row">
			<div class="col-ms-12 col-sm-12 col-xs-12">
				<h2>there are always</h2>
				<h1>flowers</h1>
				<p>for those who want to see them</p>
			</div>
		</div>
	</div>
</div>