<div class="flowerarrival">
	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-12">
			<div class="arr-left">
				<h2>new collection</h2>
				<h1>30%</h1>
				<p>off everything</p>
				<a href="#" class="shopbt">Shop now</a>
			</div>
			<div id="clockdiv" class="time">
				<div class="it-time">
					<span class="days"></span>
					<p>-days-</p>
				</div>
				<span class="space">:</span>
				<div class="it-time">
					<span class="hours">					
					</span>
					<p>-hours-</p>
				</div>
				<span class="space">:</span>
				<div class="it-time">
					<span class="minutes">					
					</span>
					<p>-mins-</p>
				</div>
				<span class="space">:</span>
				<div class="it-time">
					<span class="seconds">										
					</span>
					<p>-secs-</p>
				</div>
			</div>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-12">
			<div class="arr-right">
				<div class="row">
					<div class="col-md-12">
						<div class="arr-hd">
							<h1>New arrival</h1>
						</div>
					</div>
				</div>
				<div class="row arr-slider">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div id="owl-arrival">
							<div class="arr-it item">
								<img src="images/uploads/arr-it1.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail.html">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it2.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail.html">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it3.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail.html">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it ">
								<img src="images/uploads/arr-it2.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail.html">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it1.jpg" alt="">
								<div class="arr-text">
									<h1>Pastel Roses</h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
							<div class="arr-it item">
								<img src="images/uploads/arr-it3.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail.html">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>