<div class="flowerads">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="fl-ads3-ct">
					<p>Spring summer 2016</p>
					<h2>We’ve Unlimited Flower <br> Collections</h2>
					<a href="#" class="pink">Shop now</a>
				</div>
			</div>
		</div>
	</div>
</div>