<div class="flowerarrival flowerdealv4">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="deal-left">
					<img src="images/uploads/dealv4.png" alt="">
					<div class="flow-deal-ct">
						<h1>spring flower</h1>
						<p class="pink">pink peony</p>
					</div>	
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="arr-right">
					<div class="arr-hd">
						<h1>Deal of the day</h1>
					</div>	
					<div class="dealv4-right">
						<div class="first-it">
							<div class="left">
								<p>Categories</p>
								<p>price</p>
								<p>Expire date</p>
							</div>
							<div class="right">
								<p>flower / Package</p>
								<p>$9.00</p>
								<p>01/11/2016</p>
							</div>
						</div>
						<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu. Vero mollitia suscipit officiis quia nobis sapiente corrupti ipsum exer</p>
						<a href="#" class="pink">shop now</a>
					</div>
				</div>
				<div id="clockdiv" class="time">
					<div class="it-time">
						<span class="days"></span>
						<p>-days-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="hours">					
						</span>
						<p>-hours-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="minutes">					
						</span>
						<p>-mins-</p>
					</div>
					<span class="space">:</span>
					<div class="it-time">
						<span class="seconds">										
						</span>
						<p>-secs-</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>