<div class="blog flowerblog">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>from our blog </h1>
					<h4 class="pink">-Keep up to date with us-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="post-thumbnail">
						<a href="#"><img class="blog-img" src="images/uploads/blogflower1.png" alt=""></a>
					</div>
					<div class="blog-ct-left">
						<div class="date">
							<span>Octorber 5th, 2016</span>
						</div>
						<h2><a class="pink" href="blogsingle.html">Health Benefits of a Raw Food</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore2 pink" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="post-thumbnail">
						<a href="#"><img class="blog-img" src="images/uploads/blogflower2.png" alt=""></a>
					</div>
					<div class="blog-ct-left">
						<div class="date">
							<span>Octorber 5th, 2016</span>
						</div>
						<h2><a class="pink" href="blogsingle.html">Feeding kids organic food</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore2 pink" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="post-thumbnail">
						<a href="#"><img class="blog-img" src="images/uploads/blogflower3.png" alt=""></a>
					</div>
					<div class="blog-ct-left">
						<div class="date">
							<span>Octorber 5th, 2016</span>
						</div>
						<h2><a class="pink" href="blogsingle.html">Tips for Ripening your Fruit</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore2 pink" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>