<div class="flowerarrival trending trendingv4">
	<div class="container">
		<div class="arr-right">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="arr-hd">
						<h1>Trending Items</h1>
					</div>
				</div>
			</div>
			<div class="row arr-slider">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr1.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr2.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="right-it-3">
						<img src="images/uploads/banner.png" alt="">
						<span>shop now</span>
					</div>
				</div>
			</div>
			<div class="row arr-slider">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr1.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr2.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr1.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="arr-it v4">
						<img src="images/uploads/arr2.jpg" alt="">
						<div class="arr-text">
							<h1><a href="blogsingle.html">Pastel Roses</a></h1>
							<span class="date">$ 37.00</span>
						</div>
					</div>
				</div>				
			</div>
		</div>		
	</div>
</div>