<div class="service">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 ">
				<div class="sv-item">
					<img src="images/uploads/sv1.png" alt="">
				</div>
				<div class="sv-item">
					<img src="images/uploads/sv2.png" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="sv-item">
					<img src="images/uploads/sv3.png" alt="">
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="sv-item">
					<img src="images/uploads/sv4.png" alt="">
				</div>
				<div class="sv-item">
					<img src="images/uploads/sv5.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>