<div class="flowerarrival trending">
	<div class="row">
		<div class="col-md-7 col-sm-7 col-xs-12">
			<div class="arr-right">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="arr-hd">
							<h1>Trending Items</h1>
						</div>
					</div>
				</div>
				<div class="row arr-slider">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div id="owl-arrival2">
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it1.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it2.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it3.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it ">
								<img src="images/uploads/arr-it2.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						
							<div class="arr-it item">
								<img src="images/uploads/arr-it1.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
							<div class="arr-it item">
								<img src="images/uploads/arr-it3.jpg" alt="">
								<div class="arr-text">
									<h1><a href="productdetail">Pastel Roses</a></h1>
									<span class="date">$ 37.00</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-5 col-xs-12">
			<img src="images/uploads/trending-it.png" alt="">
		</div>
	</div>
</div>