<div class="about aboutv2 floweraboutv1">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>Organie store</h1>
					<h4 class="grey">-Flower store-</h4>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ab-decorate">
					<img src="images/uploads/ab-decorate.png" alt="">
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ab-intro">
					<p>We are <span>Online Market</span> of organic fruits, vegetables, juices and dried fruits. Visit our site for a complete list of 
					exclusive we are stocking.</p>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/abflower2.png" alt="">
					<h2>Who are we?</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="readmore3 pink" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/abflower1.png" alt="">
					<h2>How we work?</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="readmore3 pink" href="#">Read more</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ab-item">
					<img src="images/uploads/abflower3.png" alt="">
					<h2>Quality products</h2>
					<p>Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu</p>
					<a class="readmore3 pink" href="#">Read more</a>
				</div>
			</div>
		</div>
	</div>
</div>