<footer class="ht-footer flowerft">
	<div class="container">
		<img class="ft-line" src="images/uploads/flower-ft-line.png" alt="line">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ft-below-left">
					<p>14 L.E Goulburn St, Sydney 2000NSW  -  (088) 1990 6886</p>
					<p>Copyright © 2016 <a href="#" class="pink">Organie</a></p>
				</div>
				<div class="ft-contact ft-flower">
					<div class="ct-icon pink-ico">
						<a href="#" class="pink-bg"><i class="fa fa-facebook" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
						<a href="#"  class="pink-bg"><i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
						<a href="#"  class="pink-bg"><i class="fa fa-youtube-play" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>
						<a href="#"  class="pink-bg"><i class="fa fa-vimeo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Vimeo"></i></a>
					</div>
				</div>	
			</div>
		</div>
	</div>	
</footer>



