<footer class="ht-footer ft-flowerv3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="ft-contact">
					<div class="ft-heading">
						<h6>Contact</h6>
					</div>
					<ul class="ct-it pink">
						<li><i class="ion-ios-home"></i><a href="#">2/45 Tower Street, New York, USA</a></li>
						<li><i class="ion-ios-telephone"></i><a href="#">0012 678 8899</a></li>
						<li><i class="ion-ios-email"></i><a href="#">contact@organie.com</a></li>
						<li><i class="ion-android-globe"></i><a href="#">www.organiestore.com</a></li>
					</ul>
					<div class="ct-icon pink-ico">
						<a href="#"><i class="fa fa-facebook" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
						<a href="#"><i class="fa fa-youtube-play" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>
						<a href="#"><i class="fa fa-vimeo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Vimeo"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12">
				<div class="ft-infor">
					<div class="ft-heading">
						<h6>Information</h6>
					</div>
					<ul class="infor-it pink">
						<li><a href="#">New Products</a></li>
						<li><a href="#">- Top Sellers</a></li>
						<li><a href="#">Our Blog</a></li>
						<li><a href="#">About Our Shop</a></li>
						<li><a href="#">Secure Shopping</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="ft-account">
					<div class="ft-heading">
						<h6>My Account</h6>
					</div>
					<ul class="acc-it pink">
						<li><a href="#">My Account</a></li>
						<li><a href="#">Personal infomation</a></li>
						<li><a href="#">Addresses</a></li>
						<li><a href="#">Discount</a></li>
						<li><a href="#">Orders history</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-3">
				<div class="ft-photo">
					<div class="ft-heading">
						<h6>Photo in Flickr</h6>
					</div>
					<div class="photo-it">
						<div class="img-ft">
							<img class="img-ft" src="images/uploads/ft1.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
						<div class="img-ft">
							<img src="images/uploads/ft2.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
					
						<div class="img-ft">
							<img src="images/uploads/ft3.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
						<div class="img-ft">
							<img src="images/uploads/ft4.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
						<div class="img-ft">
							<img src="images/uploads/ft5.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
						<div class="img-ft">
							<img src="images/uploads/ft6.jpg" alt="">
							<div class="hover-inner-ft">
								<div class="icon">
									<a href="#"><i class="fa fa-heart" aria-hidden="true"></i> 2</a>
									<a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 0</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="ft-line" src="images/uploads/div-line.png" alt="line">
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="ft-below-left">
					<p>Copyright © 2016 <a href="#" class="pink">Organiestore</a> - All Rights Reserved</p>
				</div>
				<div class="ft-below-right">
					<p><a href="#" class="pink">Privacy policy </a>&nbsp; &nbsp;&nbsp; <a href="#" class="pink">term and conditions</a></p>
				</div>
			</div>
		</div>
	</div>	
</footer>

