<header class="ht-headerv3 sidebarmenu">
	<div class="row">
		<div class="topsearch">
			<form action="GET">
				<input type="text" class="search-top" placeholder="What are you looking for ?">
			</form>
		</div>
	</div>
   
	<div class="container">
		<div class="row">
			<div class="main-logo">
				<div class="col-md-5">
					<div class="mobile-btn">
		    			<button id="btn"><i class="ion-navicon"></i></button>
		    			<button id="close-btn"><i class="ion-android-close"></i></button>
		    		</div>
				</div>
				<div class="col-md-7">
					<div class="header-logov3">
						<a class="hd-logo3" href="home3.html"><img  class="logo" src="images/logo.png" alt=""></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<nav id="mainNav3">
					<ul class="nav navbar-nav hd-menu hd-menu3">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<!-- <li class="dropdown">
							<a href="landing.html" class="btn btn-default dropdown-toggle lv1">Landing </a>
						</li>	 -->
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							Home <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="index.html"><i class="ion-ios-minus-empty"></i>Oganic Shop</a></li>
								<li><a href="home2.html"><i class="ion-ios-minus-empty"></i>Oganic Store </a></li>
								<li><a href="home3.html"><i class="ion-ios-minus-empty"></i>Oganic Mart</a></li>
								<li><a href="home4.html"><i class="ion-ios-minus-empty"></i>Oganic Farm</a></li>
								<li><a href="homeflowerv1.html"><i class="ion-ios-minus-empty"></i>Home flower 01</a></li>
								<li><a href="homeflowerv2.html"><i class="ion-ios-minus-empty"></i>Home flower 02</a></li>
								<li><a href="homeflowerv3.html"><i class="ion-ios-minus-empty"></i>Home flower 03</a></li>
								<li><a href="homeflowerv4.html"><i class="ion-ios-minus-empty"></i>Home flower 04</a></li>
								<li><a href="homecake.html"><i class="ion-ios-minus-empty"></i>Home Cake</a></li>
								<li class="it-last"><a href="homeplant.html"><i class="ion-ios-minus-empty"></i>Home Plant</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							pages<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#"><i class="ion-ios-minus-empty"></i>about us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<ul class="dropdown-menu level2">
										<li><a href="aboutv1.html"><i class="ion-ios-minus-empty"></i>About Us 01</a></li>
										<li><a href="aboutv2.html"><i class="ion-ios-minus-empty"></i>About Us 02</a></li>
										<li><a href="floweraboutv1.html"><i class="ion-ios-minus-empty"></i>Flower About 01</a></li>
										<li><a href="floweraboutv2.html"><i class="ion-ios-minus-empty"></i>Flower About 02</a></li>
										<li><a href="aboutplant.html"><i class="ion-ios-minus-empty"></i>Plant About</a></li>
										<li><a href="cakeabout.html"><i class="ion-ios-minus-empty"></i>Cake About</a></li>
									</ul>
								</li>
								<li><a href="galleryv1.html"><i class="ion-ios-minus-empty"></i>Gallery 01</a></li>
								<li><a href="#"><i class="ion-ios-minus-empty"></i>Gallery 02 </a></li>
								<li><a href="comingsoon.html"><i class="ion-ios-minus-empty"></i>Coming soon</a></li>
								<li class="it-last"><a href="404.html"><i class="ion-ios-minus-empty"></i>404</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							feature <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="index.html"><i class="ion-ios-minus-empty"></i>Home 1</a></li>
								<li><a href="home2.html"><i class="ion-ios-minus-empty"></i>Home 2 </a></li>
								<li><a href="home3.html"><i class="ion-ios-minus-empty"></i>Home 3</a></li>
								<li class="it-last"><a href="home4.html"><i class="ion-ios-minus-empty"></i>Home 4</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							shop <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="shoplist.html"><i class="ion-ios-minus-empty"></i>Shop List</a></li>
								<li><a href="shopgrid.html"><i class="ion-ios-minus-empty"></i>Shop Grid</a></li>
								<li><a href="shopgridv2.html"><i class="ion-ios-minus-empty"></i>Shop Grid 02</a></li>
								<li><a href="productdetail.html"><i class="ion-ios-minus-empty"></i>Product Detail</a></li>
								<li class="it-last"><a href="productdetailsidebar.html"><i class="ion-ios-minus-empty"></i>Product Detail 02</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							blog <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglistv1.html"><i class="ion-ios-minus-empty"></i>Blog list 01</a></li>
								<li><a href="bloglistv2.html"><i class="ion-ios-minus-empty"></i>Blog list 02 </a></li>
								<li><a href="blogmasonryv1.html"><i class="ion-ios-minus-empty"></i>Blog Masonry 01</a></li>
								<li><a href="blogmasonryv2.html"><i class="ion-ios-minus-empty"></i>Blog Masonry 02</a></li>
								<li class="it-last"><a href="blogsingle.html"><i class="ion-ios-minus-empty"></i>Single Blog</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1"  data-toggle="dropdown" data-hover="dropdown">
							contact <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="contactv1.html"><i class="ion-ios-minus-empty"></i>Contact 01</a></li>
								<li><a href="contactv2.html"><i class="ion-ios-minus-empty"></i>Contact 02</a></li>	
								<li><a href="cakecontact.html"><i class="ion-ios-minus-empty"></i>Cake Contact</a></li>
								<li class="it-last"><a href="contactplant.html"><i class="ion-ios-minus-empty"></i>Plant Contact</a></li>
							</ul>
						</li>
						
					</ul>	
					<div class="right-menu">
							<button class="search-top-bt"><i class="ion-ios-search" data-toggle="tooltip" data-placement="top" title="Search"></i></button>
							<button class="open3"><i class="ion-ios-cart-outline" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></button>
						</div>				
				</nav>
			</div>
		</div>
	</div>
</header>