<div class="hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Product detail</h1>
				<ul class="breadcumb">
					<li><a href="#">Home</a></li>
					<li><span>/</span><a href="#">Shop grid</a></li>
					<li><span>/</span>Product detail</li>
				</ul>
			</div>
		</div>
	</div>
</div>