<section id="offerv3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="offer-it it1">
					<div class="off-inner">
						<div class="offer-icon">
							<i class="organie-barn"></i>
						</div>
						<div class="offer-title"><h2>Free Shipping</h2></div>
						<span class="sub">All order over $100</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="offer-it it2">
					<div class="off-inner">
						<div class="offer-icon">
							<i class="organie-hours-support"></i>
						</div>
						<div class="offer-ct">
							<div class="offer-title"><h2>Support customer</h2></div>
							<span class="sub">Support 24/7</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="offer-it it3">
					<div class="off-inner">
						<div class="offer-icon">
							<i class="organie-lettuce"></i>
						</div>
						<div class="offer-ct">
							<div class="offer-title"><h2>Made With Love</h2></div>
							<span class="sub">Best Services</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>