<div class="plantheading">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h1>Plants</h1>
				<span>& flowers</span>
				<p>We are Online Market of organic fruits,  vegetables, juices and dried fruits. Visit our site for a complete list of exclusive we are stocking.</p>
				<h2>discover our services</h2>
			</div>
		</div>
	</div>
</div>