<div class="blog flowerblog plantservice">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="blog-ct-left">
						<img class="icon" src="images/uploads/plant-icon1.png" alt="">
						<h2><a href="#">Home decor</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore3" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="blog-ct-left">
						<img class="icon" src="images/uploads/plant-icon2.png" alt="">
						<h2><a href="#">Workspace</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore3" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-it-left blog-flower">
					<div class="blog-ct-left">
						<img class="icon" src="images/uploads/plant-icon3.png" alt="">
						<h2><a href="#">For Gift</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ligula justo, auctor id posuere sed, gravida non odio. </p>
						<a class="readmore3" href="#">/ &nbsp; Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>