<div class="planttestimonial testimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<div class="heading-sec">
					<h1>delivery process</h1>
					<h4>-How to get stated-</h4>
					<div class="row">
						<div id="owl-plant">
							<div class="test-item item plant-it">
								<img class="ava" src="images/uploads/plantava1.png" alt="">
								<p class="quote">
									Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
								</p>
								<div class="star-rate">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
							</div>
							<div class="test-item item plant-it">
								<img class="ava" src="images/uploads/plantava2.png" alt="">
								<p class="quote">
									Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
								</p>
								<div class="star-rate">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
							</div>
							<div class="test-item item plant-it">
								<img class="ava" src="images/uploads/plantava1.png" alt="">
								<p class="quote">
									Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
								</p>
								<div class="star-rate">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
							</div>
							<div class="test-item item plant-it">
								<img class="ava" src="images/uploads/plantava2.png" alt="">
								<p class="quote">
									Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
								</p>
								<div class="star-rate">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</div>
								<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
							</div>	
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>