<div class="shopgrid products plantproduct">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<img  class="icon" src="images/uploads/heading.png" alt="">
					<div class="title">
						<img src="images/uploads/title-line.png" alt="">
						<h1>new products</h1>
					</div>
					<h4>-Featured products-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="products-it">
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro1.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
	            	</div>
	            	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Juice (Mango)</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro2.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
		        	</div>
		        	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Organic Sweetcorn</a></h2>
						<span class="pro-cost">$6.00</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">		   
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro3.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
		        	</div>	
		        	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Pomegranates</a></h2>
						<span class="pro-cost">$32.00</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="products-it">
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro4.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
	            	</div>
	            	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Juice (Mango)</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro5.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
		        	</div>
		        	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Organic Sweetcorn</a></h2>
						<span class="pro-cost">$6.00</span>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 arrival-box">
					<div class="pro-it v2 arrival-it">		   
						<img class="pro-imgv2 arrival" src="images/uploads/plantpro6.jpg" alt="">
						<div class="hover-inner">	
							<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
							<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
							<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
						</div>
		        	</div>	
		        	<div class="pro-infor">
						<h2><a href="bloglistv1.html">Pomegranates</a></h2>
						<span class="pro-cost">$32.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>