<div class="processv3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="process-it">
					<div class="step-icon">
						<i class="organie-lettuce"></i>
					</div>
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
				</div>
				<div class="process-it">
					<div class="step-icon">
						<i class="organie-lemon"></i>
					</div>
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
				</div>
				<div class="process-it">
					<div class="step-icon">
						<i class="organie-cucumber"></i>
					</div>
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="middle-it">
					<div class="heading-sec">
						<h1>6 steps</h1>
						<h4>-to a longer life-</h4>
					</div>
					<div class="process-img">
						<img src="images/uploads/process-bg3.png" alt="process">
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="process-it">
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="step-icon">
						<i class="organie-broccoli"></i>
					</div>
				</div>
				<div class="process-it">
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="step-icon">
						<i class="organie-carrot"></i>
					</div>
				</div>
				<div class="process-it">
					<div class="step-content">
						<h2>Always Fresh</h2>
						<p>Cur tantas regiones barbarorum peat dibus obiit, tot mariata uisque euismod convallis eros quis lacinia </p>
					</div>
					<div class="step-icon">
						<i class="organie-tomato"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>