<section id="process">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>delivery process</h1>
					<h4>-How to get stated-</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="process-step">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="st-icon step1-icon">
							<i class="organie-squeezer"></i>
							</div>	
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="step-ct st1">
								<span>Step 01</span>
								<p>Choose your product</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="process-step">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="st-icon step2-icon">
								<i class="organie-barn"></i>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="step-ct st2">
								<span>Step 02</span>
								<p>Local farm produced it</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="process-step">
					<div class="row">
						<div class="col-md-12 col-ms-12 col-xs-12">
							<div class="st-icon step3-icon">
								<i class="organie-map-location"></i>
							</div>
						</div>
						<div class="col-md-12 col-ms-12 col-xs-12">
							<div class="step-ct st3">
								<span>Step 03</span>
								<p>Pick up from local spot</p>
							</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="process-step">
					<div class="row">
						<div class="col-md-12 col-ms-12 col-xs-12">
							<div class="st-icon step4-icon">
								<i class="organie-delivery"></i>
							</div>
						</div>
						<div class="col-md-12 col-ms-12 col-xs-12">
							<div class="step-ct st4">
								<span>Step 04</span>
								<p>We can delivery it fast</p>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>