<section class="productsidebar productdetail shoplist bloglistpost-v1 blogsingle">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="bg-sidebar">
					<div class="search">
						<input class="search-input" type="text" placeholder="Enter keyword">
						<i class="fa fa-search" aria-hidden="true"></i>
					</div>
					<div class="categories">
						<h1 class="cate-heading">Categories</h1>
						<ul>
							<li>Fruit <img src="images/line1.png" alt=""> 06</li>
							<li>Vegetables <img src="images/line2.png" alt=""> 07</li>
							<li>Juice Fruits <img src="images/line2.png" alt=""> 05</li>
							<li>Dried Fruits <img src="images/line2.png" alt=""> 02</li>
							<li>Other <img src="images/line1.png" alt=""> 12</li>
						</ul>
					</div>
					<div class="range-select">
						<h1 class="cate-heading">Filter by Price</h1>
						<p>Price range</p>
						<p>
							<input type="text" id="amount" readonly>
						</p>
						<div id="slider-range"></div>
						<a href="#">filter</a>	
					</div>
					<div class="pp-posts">
						<h1 class="cate-heading">Best Sellers</h1>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller1.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Lemon Hand Sanitizer</a></h4>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
							</div>
						</div>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller2.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Chopped Tomatoes</a></h4>
								<span class="sub">$ 6.00</span>
								<span class="hot">hot</span>
							</div>
						</div>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller4.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Beetroot Juice</a></h4>
								<span class="sub">$ 6.00</span>
								<span class="sale-pr">sale</span>
							</div>
						</div>
					</div>
					<div class="searchbytag">
						<h1 class="cate-heading">Search by Tags</h1>
						<ul class="tags">
							<li><a href="#">fruits</a></li>
							<li><a href="#">vegatable</a></li>
							<li><a href="#">green</a></li>
							<li><a href="#">organci store</a></li>
							<li><a href="#">natural</a></li>
							<li><a href="#">bread</a></li>
							<li><a href="#">food</a></li>
							<li><a href="#">healthy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-9">
				<div class="row">
					<div class="pro-detail-infor list-item">
						<div class="col-md-4">
							<div class="pro-img">
								<img src="images/uploads/p2.png" alt="">
							</div>
							<div class="more-img">
								<a href="#" class="prev"><i class="ion-ios-arrow-thin-left"></i></a>
								<img class="sub-img img1" src="images/uploads/p2.png" alt="">
								<img class="sub-img" src="images/uploads/subimg2.png" alt="">
								<img class="sub-img" src="images/uploads/subimg3.png" alt="">
								<a href="#" class="next"><i class="ion-ios-arrow-thin-right"></i></a>
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it it">
								<span class="hot">hot</span>
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span>
								 	<br>
						 			<span class="rv">(Based on 03 reviews)</span>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<img src="images/uploads/div-line.png" alt="" class="div-line">
								<div class="right-it">
										 <form class="quantity" method="post" action="">
										      <div class="numbers-row">
										        <input type="text" name="french-hens" id="french-hens" value="3">
										      </div>
									    </form>
										<div class="drop">
											<select>
												<option value="">1 kg</option>
												<option value="">Other</option>
											</select>
										</div>
										<span class="check">
											<i class="fa fa-check-circle" aria-hidden="true"></i>In stock
										</span>	
								</div>
								<img src="images/uploads/div-line.png" alt="" class="div-line">
								<div class="pro-description"> 
									<p>sku<span>A937-C</span></p>
									<p>Categories<span>Fruits</span></p>
									<p>Expire date<span>01/11/2015</span></p>
									<p>Tags<span>Fruit, corn, organic</span></p>
								</div>
								<img src="images/uploads/div-line.png" alt="" class="div-line-3">
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="tabs">
						<span class="tab-links">
							<li class="active"><a href="#tab1">Description</a></li>
							<li><a href="#tab2">Additional info</a></li>
							<li><a href="#tab3">Reviews <span>(03)</span></a></li>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="tabs  blogsingle-content">								
						    <div class="tab-content">
						        <div id="tab1" class="tab active comment list-item">
						            <h2 class="cmt-heading">Customer Reviews<span>(03)</span></h2>
						            <div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
									<div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
						        </div>
						        <div id="tab2" class="tab comment list-item">
						           <h2 class="cmt-heading">Customer Reviews<span>(03)</span></h2>
						            <div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
						        </div>
						        <div id="tab3" class="tab comment list-item">
						        	<h2 class="cmt-heading">Customer Reviews<span>(03)</span></h2>
						            <div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
									<div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
									<div class="cmt-it pro-list-it ">
										<div class="row">
											<div class="col-md-2">
												<img src="images/uploads/cmt1.png" alt="">
											</div>
											<div class="col-md-10">
												<div class="cmt-content">
													<h4><a href="#">Jonathan Doe</a><span class="date">July 14th, 2016</span></h4>
													<span class="right">
														<span class="star-rate small">
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star" aria-hidden="true"></i>
															<i class="fa fa-star-o" aria-hidden="true"></i>
													 	</span>
													</span>
													<p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Indemon strunt lectores legere me lius quod ii legunt saepiu laritas est etiam pro</p>
													<a class="reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i>Comment</a>
												</div>	
											</div>
										</div>
									</div>
									<img src="images/uploads/div-line.png" alt="" class="div-line4">
					       	 	</div>
						    </div>
						    <!-- comment form -->
							<form action="" class="post-cmt">
								<label>Add a Review</label>
									<div class="row">
										<div class="col-md-4">
											<input class="name" type="text" placeholder="Lee Bui">
										</div>
										<div class="col-md-4">
											<input class="email" type="text" placeholder="E-mail*">
										</div>
										<div class="col-md-4">
											<input class="website" type="text" placeholder="Website">
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<input  class="comt" type="textarea" placeholder="Comment*">
										</div>
									</div>
									<input class="submit" type="submit" value="post comment">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>