<section id="productratev3">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<img class="div-line2" src="images/uploads/div-line2.png" alt="divide">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="rate-it">
					<div class="rate-heading">
						<h1>Top Rated</h1>
					</div>
					<div id="owl-rate">
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it1.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Sweet Corn</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it2.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Body Lotion</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it3.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Honey Cream</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it1.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Sweet Corn</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it2.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Body Lotion</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it3.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Honey Cream</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="star-rate">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="rate-it">
					<div class="rate-heading">
						<h1>Best Seller</h1>
					</div>
					<div id="owl-seller">
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it4.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Beetroot Juice</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="pro-label">
										<a href="#">juice</a>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it1.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Body Lotion</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="pro-label">
										<a href="#">Fruits & Vegies</a>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it6.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Tropical Twist</a></h2>
									<div class="date">
										<span class="price2">$18.00</span> <span>$20.00</span> 
									</div>
									<div class="pro-label">
										<a href="#">Processed Food</a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it4.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Beetroot Juice</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="pro-label">
										<a href="#">juice</a>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it1.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Body Lotion</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<div class="pro-label">
										<a href="#">Fruits & Vegies</a>
									</div>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it6.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Tropical Twist</a></h2>
									<div class="date">
										<span class="price2">$18.00</span> <span>$20.00</span> 
									</div>
									<div class="pro-label">
										<a href="#">Processed Food</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="rate-it">
					<div class="rate-heading">
						<h1>Recent</h1>
					</div>
					<div id="owl-recent">
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it7.jpg" alt="">
									<span class="hv-inner">
									<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
										<i class="ion-ios-cart"></i>	
									</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Lemon Hand Sanitizer</a></h2>
									<div class="date">
										<span class="price2">$3.00</span><span>$2.00</span>
									</div>
									<p><span class="sale">sale</span></p>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it8.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Chopped Tomatoes</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<p><span class="hot">hot</span></p>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it9.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Vitamin C Face Wash</a></h2>
									<div class="date">
										<span class="price2">$15.00</span><span>$12.00</span>
									</div>
									<p><span class="sale">sale</span></p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it7.jpg" alt="">
									<span class="hv-inner">
									<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
										<i class="ion-ios-cart"></i>	
									</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Lemon Hand Sanitizer</a></h2>
									<div class="date">
										<span class="price2">$3.00</span><span>$2.00</span>
									</div>
									<p><span class="sale">sale</span></p>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it8.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Chopped Tomatoes</a></h2>
									<div class="date">
										<span>$6.00</span>
									</div>
									<p><span class="hot">hot</span></p>
								</div>
							</div>
							<div class="rate-product">
								<div class="rate-it-img">
									<img src="images/uploads/rate-it9.jpg" alt="">
									<span class="hv-inner">
										<a class="addtocart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">
											<i class="ion-ios-cart"></i>	
										</a>
									</span>
								</div>
								<div class="product-infor">
									<h2><a href="#">Vitamin C Face Wash</a></h2>
									<div class="date">
										<span class="price2">$15.00</span><span>$12.00</span>
									</div>
									<p><span class="sale">sale</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>