<div class="products">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="heading-sec">
					<h1>our products</h1>
					<h4>-Featured products-</h4>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<ul class="menu-filter">
					<li class="active" data-filter="*"><a href="#">All</a></li>
					<li  data-filter=".fruits"><a href="#">Fruits</a></li>
					<li  data-filter=".vegetable"><a href="#">vegetable</a></li>
					<li  data-filter=".juices"><a href="#">juices</a></li>
					<li  data-filter=".dried"><a href="#">dried fruits</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="products-it grid">
				<div class="pro-it  juices col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p1.jpg" alt="">
					<div class="pro-infor">
						<h2><a href="productdetail.html">Juice (Mango)</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
					<div class="hover-inner">	
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
            	</div>
				<div class="pro-it  vegetable col-md-3 col-sm-6 col-xs-12">
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p2.jpg" alt="">
					<div class="pro-infor">
						<h2><a href="productdetail.html">Organic Sweetcorn</a></h2>
						<span class="pro-cost">$6.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>					
        		<div class="pro-it  juices col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p3.jpg" alt="">
					<div class="pro-infor">
						<p><span class="hot">hot</span></p>
						<h2><a href="productdetail.html">Pomegranates</a></h2>
						<span class="pro-cost">$32.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>	        	
        		<div class="pro-it  vegetable col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p4.jpg" alt="">
					<div class="pro-infor">
						<h2><a href="productdetail.html">Organic Vegetable</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>	
	        	<div class="pro-it  vegetable col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p5.jpg" alt="">
					<div class="pro-infor">
						<h2><a href="productdetail.html">Organic Vegetable</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>	
	        	<div class="pro-it  vegetable col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p6.jpg" alt="">
					<div class="pro-infor">
						<p><span  class="new">new</span></p>
						<h2><a href="productdetail.html">Pomegranates</a></h2>
						<span class="pro-cost">$32.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>	
	        	<div class="pro-it  fruits col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p7.jpg" alt="">
					<div class="pro-infor">
						<p><span class="sale-pr">sale</span></p>
						<h2><a href="productdetail.html">Zest Tea</a></h2>
						<span class="pro-cost">$16.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>	
	        	<div class="pro-it  dried col-md-3 col-sm-6 col-xs-12">
	        		<i class="fa fa-heart-o" aria-hidden="true"></i>
					<img class="pro-img" src="images/uploads/p8.jpg"  alt="">
					<div class="pro-infor">
						<h2><a href="productdetail.html">Hicaf Teas</a></h2>
						<span class="pro-cost">$23.00</span>
					</div>
					<div class="hover-inner">
						<a class="search" href="#" data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search" aria-hidden="true"></i></a>
						<a class="cart" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						<a class="wishlist" href="#"  data-toggle="tooltip" data-placement="top" title="Add to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></a>
					</div>
	        	</div>						
			</div>	
		</div>
	</div>
</div>