<section class="shoplist bloglistpost-v1 shopgrid">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="bg-sidebar">
					<div class="search">
						<input class="search-input" type="text" placeholder="Enter keyword">
						<i class="fa fa-search" aria-hidden="true"></i>
					</div>
					<div class="categories">
						<h1 class="cate-heading">Categories</h1>
						<ul>
							<li>Fruit <img src="images/line1.png" alt=""> 06</li>
							<li>Vegetables <img src="images/line2.png" alt=""> 07</li>
							<li>Juice Fruits <img src="images/line2.png" alt=""> 05</li>
							<li>Dried Fruits <img src="images/line2.png" alt=""> 02</li>
							<li>Other <img src="images/line1.png" alt=""> 12</li>
						</ul>
					</div>
					<div class="range-select">
						<h1 class="cate-heading">Filter by Price</h1>
						<p>Price range</p>
						<p>
							<input type="text" id="amount" readonly>
						</p>
						<div id="slider-range"></div>
						<a href="#">filter</a>	
					</div>
					<div class="pp-posts">
						<h1 class="cate-heading">Best Sellers</h1>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller1.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Lemon Hand Sanitizer</a></h4>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
							</div>
						</div>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller2.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Chopped Tomatoes</a></h4>
								<span class="sub">$ 6.00</span>
								<span class="hot">hot</span>
							</div>
						</div>
						<div class="pp-post-it it">
							<img class="seller-img" src="images/uploads/seller4.jpg" alt="post1">
							<div class="pp-infor pro-list">
								<h4 class="hd-after"><a href="#">Beetroot Juice</a></h4>
								<span class="sub">$ 6.00</span>
								<span class="sale-pr">sale</span>
							</div>
						</div>
					</div>
					<div class="searchbytag">
						<h1 class="cate-heading">Search by Tags</h1>
						<ul class="tags">
							<li><a href="#">fruits</a></li>
							<li><a href="#">vegatable</a></li>
							<li><a href="#">green</a></li>
							<li><a href="#">organci store</a></li>
							<li><a href="#">natural</a></li>
							<li><a href="#">bread</a></li>
							<li><a href="#">food</a></li>
							<li><a href="#">healthy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-9 col-xs-12">
				<div class="row">
					<div class="col-md-4">
						<div class="left-it">
							<h5>Showing <span class="sub">1-12 of 134</span> results</h5>
						</div>
					</div>
					<div class="col-md-8">
						<div class="right-it">
								<div class="drop">
									<select>
										
										<option value="default sorting">default sorting</option>
										<option value="default sorting">default sorting</option>
									</select>
								</div>
								<div class="drop">
									<select>
										<option value="by categories">by categories</option>
										<option value="by categories">by categories</option>
									</select>
								</div>
								<div class="icon-select">
									<a href="shoplist.html"><i class="fa fa-bars" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="List"></i></a>
									<a href="shopgrid.html"><i class="fa fa-th" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Grid"></i></a>
								</div>
						</div>
					</div>
				</div>
				<div class="row row-it">
					<div class="list-item it">
						<div class="col-md-4">
							<div class="pro-list-img">
								<img src="images/uploads/p2.png" alt="">
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it it">
								<span class="hot">hot</span>
								
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span><br>
								 	<span class="rw">(Based on 03 reviews)</span>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, 	id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
							</div>	
						</div>
						<img class="div" src="images/uploads/div-line.png" alt="divide" width="100">
					</div>
				</div>
				<div class="row row-it">
					<div class="list-item it">
						<div class="col-md-4">
							<div class="pro-list-img">
								<img src="images/uploads/p5.png" alt="">
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it ">
								
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span>
								 	<p>(Based on 03 reviews)</p>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, 	id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
							</div>	
						</div>
						<img class="div" src="images/uploads/div-line.png" alt="divide" width="100">
					</div>
				</div>
				<div class="row row-it">
					<div class="list-item it">
						<div class="col-md-4">
							<div class="pro-list-img">
								<img src="images/uploads/p9.png" alt="">
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it ">
								<span class="new">new</span>
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span>
								 	<p>(Based on 03 reviews)</p>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, 	id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
							</div>	
						</div>
						<img class="div" src="images/uploads/div-line.png" alt="divide" width="100">
					</div>
				</div>
				<div class="row row-it">
					<div class="list-item it">
						<div class="col-md-4">
							<div class="pro-list-img">
								<img src="images/uploads/p10.png" alt="">
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it ">
								<span class="new">new</span>
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span>
								 	<p>(Based on 03 reviews)</p>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, 	id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
							</div>	
						</div>
						<img class="div" src="images/uploads/div-line.png" alt="divide" width="100">
					</div>
				</div>
				<div class="row row-it">
					<div class="list-item it">
						<div class="col-md-4">
							<div class="pro-list-img">
								<img src="images/uploads/p9.png" alt="">
							</div>
						</div>
						<div class="col-md-8">
							<div class="pro-list-it ">
								<span class="new">new</span>
								<h4 class="hd-after"><a href="#">Organic Sweetcorn</a></h4>
								<span class="right">
									<span class="star-rate small">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star-o" aria-hidden="true"></i>
								 	</span>
								 	<p>(Based on 03 reviews)</p>
								</span>
								<span class="price2">$12.00</span><span class="sub">$ 6.00</span>
								<p class="para">Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Uterque enim summo bono fruitur, 	id est voluptate barbarorum pedibu biit, tot maria tranbarbarorum pedibu smiearia trana.</p>
								<a class="readmore" href="#">Add to cart</a>
								<a class="wishlist" href="#"><i class="fa fa-heart" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Add to cart"></i></a>
							</div>	
						</div>
						<img class="div" src="images/uploads/div-line.png" alt="divide" width="100">
					</div>
				</div>
				<div class="row">
					<div class="blogpanigation">
						<div class="col-md-12">
							<ul>
								<li class="prev"><a href="#">prev</a></li>
								<li class="num"><a href="#">1</a></li>
								<li class="num active"><a href="#">2</a></li>
								<li class="num"><a href="#">3</a></li>
								<li><a href="#">...</a></li>
								<li class="num2"><a href="#">13</a></li>
								<li class="num2"><a href="#">14</a></li>
								<li class="next"><a href="#">next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>