<div class="row">
	<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-02" data-source="gallery" style="background-color:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.3.1.5 fullscreen mode -->
	<div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-02-slide-01-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/slider-home-02-slide-01-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-1" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-110']" 
								data-fontsize="['72','72','72','40']"
					data-lineheight="['72','72','72','40']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 900; color: rgba(51, 51, 51, 1.00);font-family:Lato;text-transform:uppercase;letter-spacing:0.1em;">organic store </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-2" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-8','-8','-8','-60']" 
								data-fontsize="['24','24','24','18']"
					data-lineheight="['24','24','24','18']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: rgba(105, 105, 105, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.2em;">Organic products grown with love </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-3" 
					 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-104','-104']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-195','-195','-195','-195']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: rgba(105, 105, 105, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.2em;">Est </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-4" 
					 data-x="['center','center','center','center']" data-hoffset="['103','103','103','103']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-196','-196','-196','-196']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: rgba(105, 105, 105, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.2em;">1990 </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-5" 
					 data-x="['center','center','center','center']" data-hoffset="['182','182','182','182']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-192','-192','-192','-192']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 9;"><img src="images/uploads/slider-home-02-slide-01-object-01.png" alt="" data-ww="['68px','68px','68px','68px']" data-hh="['13px','13px','13px','13px']" width="68" height="13" data-no-retina> </div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-6" 
					 data-x="['center','center','center','center']" data-hoffset="['-181','-181','-181','-181']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-192','-192','-192','-192']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:180;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 10;"><img src="images/uploads/slider-home-02-slide-01-object-01.png" alt="" data-ww="['68px','68px','68px','68px']" data-hh="['13px','13px','13px','13px']" width="68" height="13" data-no-retina> </div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-4-layer-7" 
					 data-x="['center','center','center','center']" data-hoffset="['-7','-7','-7','-7']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-213','-213','-213','-213']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 11;"><img src="images/uploads/slider-home-02-slide-01-object-02.png" alt="" data-ww="['101px','101px','101px','101px']" data-hh="['81px','81px','81px','81px']" width="101" height="81" data-no-retina> </div>

				<!-- LAYER NR. 8 -->
				<div class="tp-caption rev-btn " 
					 id="slide-4-layer-8" 
					 data-x="['center','center','center','center']" data-hoffset="['-9','-9','-9','5']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['89','89','89','51']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[14,14,14,14]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[14,14,14,14]"
					data-paddingleft="[35,35,35,35]"

					style="z-index: 12; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(142, 179, 90, 0);border-color:rgba(142, 179, 90, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-03-slide-03-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/slider-home-03-slide-03-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 9 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-5-layer-2" 
					 data-x="['center','center','center','center']" data-hoffset="['-12','-12','-12','5']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['98','98','98','50']" 
								data-fontsize="['34','34','34','18']"
					data-lineheight="['34','34','34','18']"
					data-color="['rgba(51, 51, 51, 1.00)','rgba(51, 51, 51, 1.00)','rgba(51, 51, 51, 1.00)','rgba(105, 105, 105, 1.00)']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 13; white-space: nowrap; font-size: 34px; line-height: 34px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.2em;">Natural taste from the farm! </div>

				<!-- LAYER NR. 10 -->
				<div class="tp-caption rev-btn " 
					 id="slide-5-layer-8" 
					 data-x="['center','center','center','center']" data-hoffset="['-6','-6','-6','4']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['191','191','191','146']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[14,14,14,14]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[14,14,14,14]"
					data-paddingleft="[35,35,35,35]"

					style="z-index: 14; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(142, 179, 90, 0);border-color:rgba(142, 179, 90, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>

				<!-- LAYER NR. 11 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-5-layer-9" 
					 data-x="['center','center','center','center']" data-hoffset="['2','2','2','0']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-129','-129','-129','-108']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 15;"><img src="images/uploads/slider-home-03-slide-03-object-01.png" alt="" data-ww="['612px','612px','612px','349']" data-hh="['295px','295px','295px','174']" width="612" height="295" data-no-retina> </div>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-03-slide-02-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/slider-home-03-slide-02-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 12 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-6-layer-1" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-110']" 
								data-fontsize="['90','90','90','40']"
					data-lineheight="['90','90','90','40']"
					data-fontweight="['700','700','700','900']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 16; white-space: nowrap; font-size: 90px; line-height: 90px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.3em;">Organic </div>

				<!-- LAYER NR. 13 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-6-layer-2" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','-6']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-19']" 
								data-fontsize="['56','56','56','18']"
					data-lineheight="['56','56','56','18']"
					data-color="['rgba(51, 51, 51, 1.00)','rgba(51, 51, 51, 1.00)','rgba(51, 51, 51, 1.00)','rgba(105, 105, 105, 1.00)']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 17; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.25em;">store </div>

				<!-- LAYER NR. 14 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-6-layer-5" 
					 data-x="['center','center','center','center']" data-hoffset="['162','162','162','80']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-16']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 18;"><img src="images/uploads/slider-home-02-slide-01-object-01.png" alt="" data-ww="['68px','68px','68px','68px']" data-hh="['13px','13px','13px','13px']" width="68" height="13" data-no-retina> </div>

				<!-- LAYER NR. 15 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-6-layer-6" 
					 data-x="['center','center','center','center']" data-hoffset="['-181','-181','-181','-106']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-16']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:180;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 19;"><img src="images/uploads/slider-home-02-slide-01-object-01.png" alt="" data-ww="['68px','68px','68px','68px']" data-hh="['13px','13px','13px','13px']" width="68" height="13" data-no-retina> </div>

				<!-- LAYER NR. 16 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-6-layer-7" 
					 data-x="['center','center','center','center']" data-hoffset="['-6','-6','-6','-6']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-202','-202','-202','-202']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 20;"><img src="images/uploads/slider-home-03-slide-01-object-01.png" alt="" data-ww="['255','255','255','255']" data-hh="['61','61','61','61']" width="255" height="61" data-no-retina> </div>

				<!-- LAYER NR. 17 -->
				<div class="tp-caption rev-btn " 
					 id="slide-6-layer-8" 
					 data-x="['center','center','center','center']" data-hoffset="['1','1','1','0']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['119','119','119','51']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[14,14,14,14]"
					data-paddingright="[35,35,35,35]"
					data-paddingbottom="[14,14,14,14]"
					data-paddingleft="[35,35,35,35]"

					style="z-index: 21; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(142, 179, 90, 0);border-color:rgba(142, 179, 90, 1.00);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
			</li>
		</ul>
		<div style="" class="tp-static-layers">

				<!-- LAYER NR. 18 -->
				<div class="tp-caption rev-scroll-btn  tp-static-layer" 
					 id="slider-2-layer-1" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
					 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['10','10','10','10']" 
								data-width="35"
					data-height="55"
					data-whitespace="nowrap"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-startslide="0" 
					data-endslide="2" 
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 22; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">							
									<span>
									</span>							
								 </div>
		</div>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div><!-- END REVOLUTION SLIDER -->
</div>