<div class="flowersliderv3">
	<div class="row">
		<div class="col-md-6">
			<div class="slider-left">
				<img src="images/uploads/header3-img.jpg" alt="">
			</div>
		</div>
		<div class="col-md-6">
			<div class="slider-right">
				<h1>oragnie store</h1>
				<img src="images/uploads/header3-img2.jpg" alt="">
				<p>	shop now</p>
			</div>
		</div>
	</div>
</div>