<div class="row">
	<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-farm" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
		<!-- START REVOLUTION SLIDER 5.3.1.5 fullwidth mode -->
		<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
			<ul>	<!-- SLIDE  -->
				<li data-index="rs-10" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-farm-slide-01-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="images/uploads/slider-home-farm-slide-01-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-10-layer-1" 
						 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
									data-fontsize="['64','64','64','30']"
						data-lineheight="['64','64','64','30']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":740,"to":"o:1;","delay":510,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 5; white-space: nowrap; font-size: 64px; line-height: 64px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;">Taste from the farm </div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-10-layer-5" 
						 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['68','68','68','68']" 
									data-fontsize="['24','24','24','16']"
						data-lineheight="['40','40','40','16']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":740,"to":"o:1;","delay":1400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.2em;">- Organic products grown with love - </div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-10-layer-6" 
						 data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['-76','-76','-76','-76']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":740,"to":"o:1;","delay":1400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 700; color: rgba(255, 255, 255, 1.00);text-transform:uppercase;letter-spacing:0.3em;">Organie farm </div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-10-layer-7" 
						 data-x="['center','center','center','center']" data-hoffset="['-332','-332','-332','-173']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','2']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="image" 
						data-responsive_offset="on" 

						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 8;"><img src="images/uploads/slider-home-farm-slide-01-object-01.png" alt="" data-ww="['31px','31px','31px','31px']" data-hh="['24px','24px','24px','24px']" width="31" height="24" data-no-retina> </div>

					<!-- LAYER NR. 5 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-10-layer-8" 
						 data-x="['center','center','center','center']" data-hoffset="['329','329','329','169']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['9','9','9','4']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="image" 
						data-responsive_offset="on" 

						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:180;tO:% %;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 9;"><img src="images/uploads/slider-home-farm-slide-01-object-01.png" alt="" data-ww="['31px','31px','31px','31px']" data-hh="['24px','24px','24px','24px']" width="31" height="24" data-no-retina> </div>

					<!-- LAYER NR. 6 -->
					<div class="tp-caption btn-line rev-btn " 
						 id="slide-10-layer-10" 
						 data-x="['center','center','center','center']" data-hoffset="['-1','-1','-1','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['167','167','167','167']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="button" 
						data-responsive_offset="on" 
						data-responsive="off"
						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[14,14,14,14]"
						data-paddingright="[35,35,35,35]"
						data-paddingbottom="[14,14,14,14]"
						data-paddingleft="[35,35,35,35]"

						style="z-index: 10; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(142, 179, 90, 0);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-11" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-farm-slide-02-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="images/uploads/slider-home-farm-slide-02-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 7 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-11-layer-6" 
						 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['75','75','75','75']" 
									data-fontsize="['18','18','18','14']"
						data-lineheight="['18','18','18','20']"
						data-width="['none','none','none','386']"
						data-height="['none','none','none','69']"
						data-whitespace="['nowrap','nowrap','nowrap','normal']"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":740,"to":"o:1;","delay":1400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['center','center','center','center']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 11; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 700; color: rgba(255, 255, 255, 1.00);text-transform:uppercase;letter-spacing:0.4em;">Organic products grown with love </div>

					<!-- LAYER NR. 8 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-11-layer-8" 
						 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['-85','-85','-85','-67']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="image" 
						data-responsive_offset="on" 

						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 12;"><img src="images/uploads/slider-home-farm-slide-02-object-03.png" alt="" data-ww="['727px','727px','727px','421']" data-hh="['238px','238px','238px','149']" width="727" height="238" data-no-retina> </div>

					<!-- LAYER NR. 9 -->
					<div class="tp-caption btn-line rev-btn " 
						 id="slide-11-layer-10" 
						 data-x="['center','center','center','center']" data-hoffset="['-1','-1','-1','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['167','167','167','167']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="button" 
						data-responsive_offset="on" 
						data-responsive="off"
						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[14,14,14,14]"
						data-paddingright="[35,35,35,35]"
						data-paddingbottom="[14,14,14,14]"
						data-paddingleft="[35,35,35,35]"

						style="z-index: 13; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(142, 179, 90, 0);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
				</li>
				<!-- SLIDE  -->
				<li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/slider-home-farm-slide-03-bg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
					<!-- MAIN IMAGE -->
					<img src="images/uploads/slider-home-farm-slide-03-bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
					<!-- LAYERS -->

					<!-- LAYER NR. 10 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-12-layer-1" 
						 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
									data-fontsize="['64','64','64','30']"
						data-lineheight="['64','64','64','30']"
						data-width="['732','732','732','none']"
						data-height="['74','74','74','none']"
						data-whitespace="['normal','normal','normal','nowrap']"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":740,"to":"o:1;","delay":510,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 14; min-width: 732px; max-width: 732px; max-width: 74px; max-width: 74px; white-space: normal; font-size: 64px; line-height: 64px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;">Live organic, live healthy </div>

					<!-- LAYER NR. 11 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-12-layer-5" 
						 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['68','68','68','68']" 
									data-fontsize="['24','24','24','16']"
						data-lineheight="['40','40','40','16']"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":740,"to":"o:1;","delay":1400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 15; white-space: nowrap; font-size: 24px; line-height: 40px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.4em;">- organic food delivery - </div>

					<!-- LAYER NR. 12 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-12-layer-6" 
						 data-x="['center','center','center','center']" data-hoffset="['-4','-4','-4','-4']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['-76','-76','-76','-76']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="text" 
						data-responsive_offset="on" 

						data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":740,"to":"o:1;","delay":1400,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 16; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 700; color: rgba(255, 255, 255, 1.00);letter-spacing:0.4em;">Organie farm </div>

					<!-- LAYER NR. 13 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-12-layer-7" 
						 data-x="['center','center','center','center']" data-hoffset="['-414','-414','-414','-173']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['5','5','5','2']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="image" 
						data-responsive_offset="on" 

						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 17;"><img src="images/decorate-right.png" alt="" data-ww="['31px','31px','31px','31px']" data-hh="['24px','24px','24px','24px']" data-no-retina> </div>

					<!-- LAYER NR. 14 -->
					<div class="tp-caption   tp-resizeme" 
						 id="slide-12-layer-8" 
						 data-x="['center','center','center','center']" data-hoffset="['408','408','408','169']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['9','9','9','4']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="image" 
						data-responsive_offset="on" 

						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;rZ:180;tO:% %;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"

						style="z-index: 18;"><img src="images/decorate-left.png" alt="" data-ww="['31px','31px','31px','31px']" data-hh="['24px','24px','24px','24px']" data-no-retina> </div>

					<!-- LAYER NR. 15 -->
					<div class="tp-caption btn-line rev-btn " 
						 id="slide-12-layer-10" 
						 data-x="['center','center','center','center']" data-hoffset="['-1','-1','-1','0']" 
						 data-y="['middle','middle','middle','middle']" data-voffset="['167','167','167','167']" 
									data-width="none"
						data-height="none"
						data-whitespace="nowrap"
			 
						data-type="button" 
						data-responsive_offset="on" 
						data-responsive="off"
						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(142, 179, 90, 1.00);bw:1px 1px 1px 1px;"}]'
						data-textAlign="['left','left','left','left']"
						data-paddingtop="[14,14,14,14]"
						data-paddingright="[35,35,35,35]"
						data-paddingbottom="[14,14,14,14]"
						data-paddingleft="[35,35,35,35]"

						style="z-index: 19; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(142, 179, 90, 0);border-style:solid;border-width:1px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
				</li>
			</ul>
			<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	
		</div>
	</div><!-- END REVOLUTION SLIDER -->
</div>