<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-cake" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	<!-- START REVOLUTION SLIDER 5.3.1.5 fullwidth mode -->
	<div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-18" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/slider-home-cake-slide-01-bg.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-18-layer-1" 
					 data-x="['center','center','center','center']" data-hoffset="['-114','-114','-114','-103']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-195','-195','-195','-162']" 
								data-fontsize="['100','100','100','70']"
					data-lineheight="['100','100','100','70']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"x:-50px;opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.1em;">Made </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-18-layer-2" 
					 data-x="['center','center','center','center']" data-hoffset="['46','46','46','46']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-107','-107','-107','-107']" 
								data-fontsize="['72','72','72','42']"
					data-lineheight="['72','72','72','42']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap; font-size: 72px; line-height: 72px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.1em;">with </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-18-layer-3" 
					 data-x="['center','center','center','center']" data-hoffset="['73','73','73','49']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-18','-18','-18','-36']" 
								data-fontsize="['175','175','175','145']"
					data-lineheight="['175','175','175','145']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"x:50px;opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; white-space: nowrap; font-size: 175px; line-height: 175px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.1em;">Love </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-18-layer-4" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','2']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['129','129','129','98']" 
								data-fontsize="['24','24','24','16']"
					data-lineheight="['24','24','24','16']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['center','center','center','center']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: rgba(51, 51, 51, 1.00);text-transform:uppercase;letter-spacing:0.5em;">Make a great yummy day </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption rev-btn " 
					 id="slide-18-layer-5" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['244','244','244','186']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"y:50px;opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(244, 154, 193, 1.00);"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[17,17,17,17]"
					data-paddingright="[42,42,42,42]"
					data-paddingbottom="[17,17,17,17]"
					data-paddingleft="[42,42,42,42]"

					style="z-index: 9; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 700; color: rgba(244, 154, 193, 1.00);font-family:Lato;text-transform:uppercase;background-color:rgba(255, 255, 255, 1.00);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:0.1em;cursor:pointer;">shop now </div>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
	</div>
</div><!-- END REVOLUTION SLIDER -->