<div id="rev_slider_9_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="flower-01" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	<!-- START REVOLUTION SLIDER 5.3.1.5 auto mode -->
	<div id="rev_slider_9_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-19" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/uploads/home-04-i1-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-04-i1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-19-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":300,"to":"o:1;","delay":430,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5;"><img src="images/uploads/home-04-i16.jpg" alt="" data-ww="370px" data-hh="500px" width="370" height="500" data-no-retina> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-19-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-100" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":300,"to":"o:1;","delay":840,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6;"><img src="images/uploads/home-04-i17.png" alt="" data-ww="220px" data-hh="124px" width="220" height="124" data-no-retina> </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption play-14-400   tp-resizeme" 
					 id="slide-19-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-170" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:50px;opacity:0;","speed":300,"to":"o:1;","delay":1000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; white-space: nowrap;text-transform:uppercase;letter-spacing:.2em;">EST . 1990 </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption play-48-700   tp-resizeme" 
					 id="slide-19-layer-4" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"x:-50px;opacity:0;","speed":300,"to":"o:1;","delay":1230,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8; white-space: nowrap;letter-spacing:.4em;">FRESH </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption play-24-400   tp-resizeme" 
					 id="slide-19-layer-5" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="50" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"x:50px;opacity:0;","speed":300,"to":"o:1;","delay":1570,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 9; white-space: nowrap;letter-spacing:.43em;">FOR SPRING </div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-19-layer-7" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="100" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:bottom;rX:-20deg;rY:-20deg;rZ:0deg;","speed":370,"to":"o:1;","delay":1730,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 10;"><img src="images/uploads/home-04-i18.png" alt="" data-ww="14px" data-hh="14px" width="14" height="14" data-no-retina> </div>

				<!-- LAYER NR. 7 -->
				<a class="tp-caption lato-14-400   tp-resizeme" 
		 href="#" target="_self"			 id="slide-19-layer-6" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="180" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-actions=''
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":470,"to":"o:1;","delay":1960,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 11; white-space: nowrap;letter-spacing:.2em;text-decoration: none;">SHOP NOW </a>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-20" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/uploads/home-04-i2-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-04-i2.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 8 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-20-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 12;"><img src="images/uploads/home-04-i19.jpg" alt="" data-ww="370px" data-hh="500px" width="370" height="500" data-no-retina> </div>

				<!-- LAYER NR. 9 -->
				<div class="tp-caption lato-24-900   tp-resizeme" 
					 id="slide-20-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-180" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:50px;opacity:0;","speed":300,"to":"o:1;","delay":890,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 13; white-space: nowrap;font-family:Arial;text-transform:uppercase;letter-spacing:.2em;">New Collection </div>

				<!-- LAYER NR. 10 -->
				<div class="tp-caption play-100-700   tp-resizeme" 
					 id="slide-20-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-90" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:-50px;opacity:0;","speed":300,"to":"o:1;","delay":1160,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 14; white-space: nowrap; color: rgba(51, 51, 51, 1.00);text-transform:uppercase;">30% </div>

				<!-- LAYER NR. 11 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-20-layer-4" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":300,"to":"o:1;","delay":1410,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 15; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(105, 105, 105, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:.2em;">Off Everything </div>

				<!-- LAYER NR. 12 -->
				<div class="tp-caption rev-btn " 
					 id="slide-20-layer-5" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="160" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":300,"to":"o:1;","delay":1730,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[12,12,12,12]"
					data-paddingright="[20,20,20,20]"
					data-paddingbottom="[12,12,12,12]"
					data-paddingleft="[20,20,20,20]"

					style="z-index: 16; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;background-color:rgba(51, 51, 51, 1.00);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:.2em;cursor:pointer;">Shop now </div>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-21" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="images/uploads/home-04-i3-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-04-i3.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 13 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-21-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 17;"><img src="images/uploads/home-04-i20.png" alt="" data-ww="500px" data-hh="500px" width="500" height="500" data-no-retina> </div>

				<!-- LAYER NR. 14 -->
				<div class="tp-caption play-16-400   tp-resizeme" 
					 id="slide-21-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-50" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:50px;opacity:0;","speed":300,"to":"o:1;","delay":810,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 18; white-space: nowrap;font-style:italic;letter-spacing:.2em;">- Flower Store - </div>

				<!-- LAYER NR. 15 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-21-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:-50px;opacity:0;","speed":300,"to":"o:1;","delay":1030,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 19; white-space: nowrap; font-size: 48px; line-height: 48px; font-weight: 900; color: rgba(51, 51, 51, 1.00);font-family:Lato;text-transform:uppercase;letter-spacing:.1em;">Organie </div>

				<!-- LAYER NR. 16 -->
				<a class="tp-caption play-18-700   tp-resizeme" 
		 href="#" target="_self"			 id="slide-21-layer-5" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="70" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-actions=''
					data-responsive_offset="on" 

					data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":300,"to":"o:1;","delay":1320,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 20; white-space: nowrap;font-style:italic;text-decoration:underline;letter-spacing:.2em;">Shop now </a>
			</li>
		</ul>
		<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	
	</div>
</div><!-- END REVOLUTION SLIDER -->