<div class="row">
	<div class="col-md-10">
		<div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-03" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.3.1.5 auto mode -->
			<div id="rev_slider_3_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
				<ul>	<!-- SLIDE  -->
					<li data-index="rs-7" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/home_03_slide_01-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="#1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/uploads/home_03_slide_01.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-7-layer-4" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-80','-80','-80','-80']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":750,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 5;"><img src="images/uploads/home_03_slide_02-1.png" alt="" data-ww="['224px','224px','224px','224px']" data-hh="['60px','60px','60px','60px']" width="224" height="60" data-no-retina> </div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption pd-56-700   tp-resizeme" 
							 id="slide-7-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":740,"to":"o:1;","delay":510,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;text-transform:uppercase;">Organie </div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption lt-18-400   tp-resizeme" 
							 id="slide-7-layer-2" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']" 
										data-fontsize="['18','18','18','15']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"x:-50px;opacity:0;","speed":740,"to":"o:1;","delay":1070,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 7; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(105, 105, 105, 1.00);font-family:Arial;text-transform:uppercase;">From our fields to your doorstep </div>

						<!-- LAYER NR. 4 -->
						<a class="tp-caption pd-18-700   tp-resizeme" 
				 href="/shop" target="_self"			 id="slide-7-layer-3" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['110','110','110','110']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-actions=''
							data-responsive_offset="on" 

							data-frames='[{"from":"x:50px;opacity:0;","speed":670,"to":"o:1;","delay":1400,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 22px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;text-decoration:underline;">Shop now </a>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://localhost/HTProject/caravan/wp_caravan/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="#2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/uploads/transparent.png" style='background-color:#f4e9e3' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 5 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-8-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 9;"><img src="images/uploads/slider-home-02-slide-02-object-01.jpg" alt="" data-ww="['752px','752px','752px','752px']" data-hh="['749px','749px','749px','749px']" width="752" height="749" data-no-retina> </div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-8-layer-2" 
							 data-x="['center','center','center','center']" data-hoffset="['-269','-269','-229','-216']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['1','1','5','3']" 
										data-fontsize="['56','56','40','40']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 10; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;letter-spacing:0.1em;">Discover </div>

						<!-- LAYER NR. 7 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-8-layer-4" 
							 data-x="['center','center','center','center']" data-hoffset="['-210','-210','-210','-192']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['73','73','73','72']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 11; white-space: nowrap; font-size: 34px; line-height: 34px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.1em;">Organic </div>

						<!-- LAYER NR. 8 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-8-layer-5" 
							 data-x="['center','center','center','center']" data-hoffset="['280','280','247','218']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['4','4','4','2']" 
										data-fontsize="['56','56','40','40']"
							data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 12; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;letter-spacing:0.1em;">Amazing </div>

						<!-- LAYER NR. 9 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-8-layer-6" 
							 data-x="['center','center','center','center']" data-hoffset="['231','231','231','209']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['75','75','75','75']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 13; white-space: nowrap; font-size: 34px; line-height: 34px; font-weight: 400; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.1em;">products </div>
					</li>
					<!-- SLIDE  -->
					<li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="http://localhost/HTProject/caravan/wp_caravan/wp-content/"  data-rotate="0"  data-saveperformance="off"  data-title="#3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- MAIN IMAGE -->
						<img src="images/uploads/transparent.png" style='background-color:#e8f1f4' alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
						<!-- LAYERS -->

						<!-- LAYER NR. 10 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-9-layer-1" 
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 14;"><img src="images/uploads/slider-home-02-slide-03-object-01.png" alt="" data-ww="['912px','912px','912px','912px']" data-hh="['597px','597px','597px','597px']" width="912" height="597" data-no-retina> </div>

						<!-- LAYER NR. 11 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-9-layer-3" 
							 data-x="['center','center','center','center']" data-hoffset="['23','28','28','28']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-25','-34','-34','-34']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="image" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 15;"><img src="images/uploads/slider-home-02-slide-03-object-02.png" alt="" data-ww="['197px','197px','197px','197px']" data-hh="['158px','158px','158px','158px']" width="199" height="160" data-no-retina> </div>

						<!-- LAYER NR. 12 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-9-layer-4" 
							 data-x="['center','center','center','center']" data-hoffset="['21','21','21','21']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-57','-57','-57','-57']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 16; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.2em;">- Organic Store - </div>

						<!-- LAYER NR. 13 -->
						<div class="tp-caption   tp-resizeme" 
							 id="slide-9-layer-5" 
							 data-x="['center','center','center','center']" data-hoffset="['25','25','25','25']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['-7','-7','-7','-7']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 17; white-space: nowrap; font-size: 48px; line-height: 48px; font-weight: 900; color: rgba(51, 51, 51, 1.00);text-transform:uppercase;letter-spacing:0.1em;">Organie </div>

						<!-- LAYER NR. 14 -->
						<div class="tp-caption pd-18-700   tp-resizeme" 
							 id="slide-9-layer-6" 
							 data-x="['center','center','center','center']" data-hoffset="['25','25','25','25']" 
							 data-y="['middle','middle','middle','middle']" data-voffset="['64','64','64','64']" 
										data-width="none"
							data-height="none"
							data-whitespace="nowrap"
				 
							data-type="text" 
							data-responsive_offset="on" 

							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
							data-textAlign="['left','left','left','left']"
							data-paddingtop="[0,0,0,0]"
							data-paddingright="[0,0,0,0]"
							data-paddingbottom="[0,0,0,0]"
							data-paddingleft="[0,0,0,0]"

							style="z-index: 18; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 700; color: rgba(51, 51, 51, 1.00);font-family:Playfair Display;font-style:italic;text-decoration:underline;">Shop now </div>
					</li>
				</ul>
				<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	
			</div>
		</div><!-- END REVOLUTION SLIDER -->
	</div>
</div>