<div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="flower-02" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	<!-- START REVOLUTION SLIDER 5.3.1.5 auto mode -->
	<div id="rev_slider_10_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-22" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-02-i1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<a class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
		 href="#shop" target="_self"			 id="slide-22-layer-2" 
					 data-x="center" data-hoffset="370" 
					 data-y="center" data-voffset="-160" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-actions=''
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5;text-decoration: none;"><img src="images/uploads/home-02-s1.png" alt="" data-ww="100px" data-hh="100px" width="100" height="100" data-no-retina> </a>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption lato-24-700   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-22-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-160" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap; color: rgba(51, 51, 51, 1.00);text-transform:uppercase;letter-spacing:.7em;">Fresh for Spring </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption play-120-700   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-22-layer-4" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-50" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; white-space: nowrap;">Spring Flower </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
					 id="slide-22-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="50" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8;"><img src="images/uploads/home-02-s2.png" alt="" data-ww="610px" data-hh="270px" width="610" height="270" data-no-retina> </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption play-18-400   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-22-layer-5" 
					 data-x="center" data-hoffset="320" 
					 data-y="center" data-voffset="50" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 9; white-space: nowrap;font-style:italic;letter-spacing:.2em;">Spring 2017 </div>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
	</div>
</div><!-- END REVOLUTION SLIDER -->