
<div id="rev_slider_7_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="home-v2" data-source="gallery" style="background-color:transparent;padding:0px;">
	<!-- START REVOLUTION SLIDER 5.3.1.5 fullscreen mode -->
	<div id="rev_slider_7_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-17" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/slider-home-plant-02-slide-01-bg.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption pri-color   tp-resizeme" 
					 id="slide-17-layer-1" 
					 data-x="['center','center','center','center']" data-hoffset="['2','2','2','2']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-161','-161','-161','-161']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5; white-space: nowrap; font-size: 18px; line-height: 18px; font-weight: 400; color: rgba(142, 179, 90, 1.00);font-family:Lato;text-transform:uppercase;letter-spacing:0.3em;">flowers - vases - plants </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-17-layer-2" 
					 data-x="['center','center','center','center']" data-hoffset="['7','7','7','7']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-65']" 
								data-fontsize="['56','56','40','30']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:50px;opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap; font-size: 56px; line-height: 56px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;text-transform:uppercase;letter-spacing:0.2em;">Best indoor plants </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-17-layer-3" 
					 data-x="['center','center','center','center']" data-hoffset="['8','8','8','8']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['25','25','25','25']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"y:-50px;opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7; white-space: nowrap; font-size: 34px; line-height: 34px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0.4em;">for your home </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-17-layer-4" 
					 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
					 data-y="['middle','middle','middle','middle']" data-voffset="['176','176','176','176']" 
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8;"><img src="images/uploads/slider-home-plant-02-slide-01-object-01.png" alt="" data-ww="['154px','154px','154px','154px']" data-hh="['154px','154px','154px','154px']" width="154" height="154" data-no-retina> </div>
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
	</div>
</div><!-- END REVOLUTION SLIDER -->