<div id="rev_slider_11_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="flower-04" data-source="gallery" style="background-color:transparent;padding:0px;">
	<!-- START REVOLUTION SLIDER 5.3.1.5 fullscreen mode -->
	<div id="rev_slider_11_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.1.5">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-23" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/flower-01-slide-01-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/flower-01-slide-01.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption   tp-resizeme" 
					 id="slide-23-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-150" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5;"><img src="images/uploads/flower-01-slide-01-1.png" alt="" data-ww="760px" data-hh="150px" width="760" height="150" data-no-retina> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption lato-24-700   tp-resizeme" 
					 id="slide-23-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-300" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6; white-space: nowrap;letter-spacing:1.2em;">flower store </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption btn-lato-16 rev-btn " 
					 id="slide-23-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[18,18,18,18]"
					data-paddingright="[40,40,40,40]"
					data-paddingbottom="[18,18,18,18]"
					data-paddingleft="[40,40,40,40]"

					style="z-index: 7; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-24" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/home-01-i7-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-01-i7.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 4 -->
				<div class="tp-caption lato-24-700   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-24-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-300" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8; white-space: nowrap;letter-spacing:1.2em;">flower store </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption play-180-400   tp-resizeme rs-parallaxlevel-2" 
					 id="slide-24-layer-5" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-150" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 9; white-space: nowrap; color: rgba(255, 255, 255, 0.20);letter-spacing:.3em;">ORGANIE </div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-24-layer-4" 
					 data-x="center" data-hoffset="100" 
					 data-y="center" data-voffset="100" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 10;"><img src="images/uploads/home-01-i9.png" alt="" data-ww="1000px" data-hh="550px" width="1000" height="550" data-no-retina> </div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption btn-lato-16 rev-btn  rs-parallaxlevel-1" 
					 id="slide-24-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="350" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[18,18,18,18]"
					data-paddingright="[40,40,40,40]"
					data-paddingbottom="[18,18,18,18]"
					data-paddingleft="[40,40,40,40]"

					style="z-index: 11; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>
			</li>
			<!-- SLIDE  -->
			<li data-index="rs-25" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="assets/home-01-i8-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="images/uploads/home-01-i8.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 8 -->
				<div class="tp-caption play-34-400   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-2" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-300" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 12; white-space: nowrap;font-style:italic;letter-spacing:1.2em;">flower store </div>

				<!-- LAYER NR. 9 -->
				<div class="tp-caption play-180-700   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-5" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="-150" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="text" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 13; white-space: nowrap;letter-spacing:.1em;">ORGANIE </div>

				<!-- LAYER NR. 10 -->
				<div class="tp-caption btn-lato-16 rev-btn  rs-parallaxlevel-1" 
					 id="slide-25-layer-3" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="100" 
								data-width="['auto']"
					data-height="['auto']"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(51, 51, 51, 1.00);"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[18,18,18,18]"
					data-paddingright="[40,40,40,40]"
					data-paddingbottom="[18,18,18,18]"
					data-paddingleft="[40,40,40,40]"

					style="z-index: 14; white-space: nowrap;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW </div>

				<!-- LAYER NR. 11 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
					 id="slide-25-layer-7" 
					 data-x="center" data-hoffset="" 
					 data-y="center" data-voffset="" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 15;"><img src="images/uploads/home-01-i10.png" alt="" data-ww="1920px" data-hh="580px" width="1920" height="580" data-no-retina> </div>

				<!-- LAYER NR. 12 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-8" 
					 data-x="center" data-hoffset="-463" 
					 data-y="center" data-voffset="-113" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 16;"><img src="images/uploads/home-01-i11.png" alt="" data-ww="186px" data-hh="214px" width="186" height="214" data-no-retina> </div>

				<!-- LAYER NR. 13 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-9" 
					 data-x="center" data-hoffset="-131" 
					 data-y="center" data-voffset="-97" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 17;"><img src="images/uploads/home-01-i12.png" alt="" data-ww="150px" data-hh="160px" width="150" height="160" data-no-retina> </div>

				<!-- LAYER NR. 14 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-10" 
					 data-x="center" data-hoffset="193" 
					 data-y="center" data-voffset="-84" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 18;"><img src="images/uploads/home-01-i13.png" alt="" data-ww="244px" data-hh="166px" width="244" height="166" data-no-retina> </div>

				<!-- LAYER NR. 15 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1" 
					 id="slide-25-layer-11" 
					 data-x="center" data-hoffset="366" 
					 data-y="center" data-voffset="-175" 
								data-width="['none','none','none','none']"
					data-height="['none','none','none','none']"
		 
					data-type="image" 
					data-responsive_offset="on" 

					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 19;"><img src="images/uploads/home-01-i14.png" alt="" data-ww="110px" data-hh="140px" width="110" height="140" data-no-retina> </div>
			</li>
		</ul>
		<div style="" class="tp-static-layers">

				<!-- LAYER NR. 16 -->
				<div class="tp-caption rev-scroll-btn  tp-static-layer" 
					 id="slider-11-layer-1" 
					 data-x="center" data-hoffset="" 
					 data-y="bottom" data-voffset="10" 
								data-width="['35']"
					data-height="['55']"
		 
					data-type="button" 
					data-responsive_offset="on" 
					data-responsive="off"
					data-startslide="0" 
					data-endslide="2" 
					data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 20; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 100;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">							
									<span>
									</span>							
								 </div>
		</div>
		<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
	</div>
</div><!-- END REVOLUTION SLIDER -->