<div class="subscribev3">
	<div class="container">
		<div class="sub-content">
			<div class="row">
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="sub-heading">
						<h1>Subscribe To Our Newsletter</h1>
					</div>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="form">
						<input class="email" type="text" placeholder="Enter your email">
					</div>
				</div>
				<div class="col-md-12 col-xs-12 col-sm-12">
					<div class="sub-button">
						<a href="#">subscribe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>