<section id="testimonial">
	<div class="container">
		<div class="row">
			<div id="owl-testimonial">
				<div class="test-item item">
					<img class="ava" src="images/uploads/test-ava.png" alt="">
					<h1 class="line">
						The best Organic store!
					</h1>
					<p class="quote">
						Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
					</p>
					<div class="star-rate">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
				</div>
				<div class="test-item item">
					<img class="ava" src="images/uploads/test-ava.png" alt="">
					<h1 class="line">
						The best Organic store!
					</h1>
					<p class="quote">
						Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
					</p>
					<div class="star-rate">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
				</div>
				<div class="test-item item">
					<img class="ava" src="images/uploads/test-ava.png" alt="">
					<h1 class="line">
						The best Organic store!
					</h1>
					<p class="quote">
						Thank you for all the amazing products you deliver each week... I’ve been telling everyone about your greatest online health food shop!
					</p>
					<div class="star-rate">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
					</div>
					<p class="name">Jerry Hansen <span>/  Webdesign</span></p>
				</div>
			</div>
		</div>
	</div>
</section>