<section id="topbar">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="top-left">
				<p>Free shipping on all orders over<span> $100</span></p>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<ul class="nav navbar-nav hd-menu topbar-right">
				<li class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
					Language <i class="fa fa-angle-down" aria-hidden="true"></i>
					</button>
					<ul class="dropdown-menu level1">
						<li><a href="#">English</a></li>
						<li><a href="#">Another</a></li>
					</ul>
				</li>
				<li><a class="login" href="#">Login</a></li>
				<li><a href="#">Register</a></li>							
			</ul>
		</div>
	</div>
</section>